<div class="termos">
  <div class="">
    <div class="condicos">
      <%# .................................................................. %>
      <h2 class="py-3">I. QUEM SOMOS?</h2>

      <p>
        Somos a empresa IDEALL e ficamos no site: nuncafoitaofacil.pt.
      </p>

      <p>
        O nosso objetivo é mostrar os diferentes planos e serviços oferecidos pelas 4 principais operadoras do país (Portugal). Conhecido por:
        MEO, NOS, VODAFONE E NOWO.
      </p>

      <p>
        Nós concedemos o utilizador e / ou cliente as ferramentas web necessárias para que, através dos diferentes troços e percursos do nosso site acima referido, bem como da página principal, possa consultar as comparações dos diferentes preços das principais operadoras do país com a ajuda de botões e outros ferramentas fornecidas em nosso site para facilidade e uso.
      </p>

      <p>
        Oferecemos uma infinidade de comparações para que o usuário escolha a opção mais conveniente de acordo com suas necessidades. Comparação de planos de produtos como: Internet, Televisão, Linha telefônica (cartão), ligações internacionais e telefone.
      </p>

      <p>
        Comparamos a velocidade de internet oferecida por diferentes planos, as chamadas internacionais disponíveis, a quantidade de canais e serviços de greve entre outras funções que podem ser explicitamente visualizadas nos nossos planos juntamente com o preço dos mesmos.
      </p>

      <p>
        O usuário pode escolher nosso plano inserindo suas informações pessoais como telefone, e-mail e nome de contato. Uma vez inscrito, um dos funcionários da nossa empresa IDEALL entrará em contato com o usuário e / ou cliente por telefone ou e-mail para concordar e chegar a um acordo com o plano que ele selecionou em nosso site.
      </p>
      <%# .................................................................. %>
      <%# .................................................................. %>
      <h2 class="py-3">EU CONSENTIMENTO</h2>
      <p>
        Ao acessar nosso site, você concorda com nossa Pol&iacute;tica de Privacidade e Termos de Uso, e concorda com nossa coleta, armazenamento, uso e divulgação de suas informações pessoais conforme descrito nesta Pol&iacute;tica de Privacidade. Além disso, ao usar nosso website ou os serviços em sites parceiros e não afiliados, você aceita as pol&iacute;ticas e pr&aacute;ticas descritas nesta Pol&iacute;tica de Privacidade. Cada vez que você visita nosso site, e cada vez que você voluntariamente nos fornece informações, você concorda que concorda com nossa coleta, uso e divulgação das informações que você nos fornece e concorda em receber e-mails ou ser contatado de outra forma , conforme descrito. nesta Pol&iacute;tica de Privacidade. 
      </p>
      <%# .................................................................. %>
      <h2 class="py-3">II INFORMAÇÕES QUE COLETAMOS</h2>
      <p>
        Podemos coletar "Informações não pessoais" e "Informações pessoais" sobre você. "Informações não pessoais" incluem informações que não podem ser usadas para identific&aacute;-lo pessoalmente, como dados de uso anônimos, informações demogr&aacute;ficas gerais que podemos coletar, p&aacute;ginas e URLs de referência / sa&iacute;da, tipos de plataforma, preferências que você envia e preferências que são gerado com base nos dados que você envia e no número de cliques. "Informações pessoais" incluem informações que podem ser usadas para identific&aacute;-lo pessoalmente, como seu nome, número de telefone, whatsapp e endereço de e-mail.
      </p>
      <%# .................................................................. %>
      <h3 class="">Google Analytics</h3>
      <p>
        Este site usa o Google Analytics para rastrear informações sobre o uso do site. Podemos rastrear as informações fornecidas por seu navegador ou uso do site, como o site de onde você veio (conhecido como "URL de referência"), o tipo de navegador que você usa, o dispositivo a partir do qual você se conectou ao site, a hora e data de acesso e outras informações que não o identificam pessoalmente. Usamos essas informações para, entre outras coisas, o funcionamento do site, para manter a qualidade do site, para fornecer estat&iacute;sticas gerais sobre o uso do site e para outros fins comerciais.
      </p>
      <%# .................................................................. %>
      <h3 class="">Cookies </h3>
      <p>
        Rastreamos essas informações no Google Analytics usando cookies ou pequenos arquivos de texto que incluem um identificador exclusivo anônimo. Os cookies são enviados para o navegador do usu&aacute;rio a partir de nossos servidores e são armazenados no disco r&iacute;gido do computador do usu&aacute;rio. O envio de um cookie para o navegador de um usu&aacute;rio nos permite coletar Informações Não Pessoais sobre esse usu&aacute;rio e manter um registro das preferências do usu&aacute;rio ao utilizar nossos serviços, tanto em uma base individual como agregada. A Empresa pode usar cookies persistentes e de sessão; os cookies persistentes permanecem no seu computador depois que você fecha a sessão e até que você os exclua, enquanto os cookies da sessão expiram quando você fecha o navegador. Se você optar por desativar os cookies, algumas &aacute;reas do site podem não funcionar corretamente.
      </p>
      <%# .................................................................. %>
      <h3 class="">Formul&aacute;rios do site</h3>
      <p>
        Pode haver v&aacute;rios formul&aacute;rios online presentes em nosso site onde você pode enviar informações de identificação pessoal para expressar interesse em nossos negócios ou enviar uma consulta sobre nossos negócios. Esses formul&aacute;rios podem aparecer formul&aacute;rios de contato exibidos por um modal com a ajuda de cada botão acess&iacute;vel dentro da p&aacute;gina da web "nuncafoitaofacil.pt"
        Quando você nos contata usando um formul&aacute;rio em nosso site, coletamos informações que o identificam, como seu nome, e-mail, número de telefone, região, cidade, pa&iacute;s e outras informações de identificação pessoal. Algumas dessas informações são obrigatórias e outras são opcionais. Essas informações são usadas para melhor atender às suas dúvidas e não são usadas para fins de marketing ou compartilhadas com outras empresas terceirizadas. Se você preferir que não coletemos essas informações, simplesmente não preencha o formul&aacute;rio.
      </p>
      <%# .................................................................. %>
      <h3 class="">Comunicações por Email</h3>
      <p>
        Com base nas informações pessoais que você nos fornece, podemos contat&aacute;-lo em resposta às suas perguntas para fornecer os serviços solicitados e gerenciar sua conta. Entraremos em contato por e-mail ou telefone. Também podemos usar suas informações pessoais para enviar atualizações e outras comunicações promocionais.
        Especificamente, usamos ActionMailer, uma biblioteca para armazenar endereços de e-mail e MailGun, um serviço de e-mail para dados e estat&iacute;sticas.
        Também usamos ActionMailer e MailGun para distribuir e-mails de marketing para nossa lista de assinantes opcional.
      </p>
      <p>
        Bas&aacute;ndonos en la información personal que nos proporciona, podemos comunicarnos con usted en respuesta a sus preguntas para brindarle los servicios solicitados y administrar su cuenta. Nos pondremos en contacto contigo por correo electrónico o por teléfono, según tu preferencia. También podemos utilizar su información personal para enviarle actualizaciones y otras comunicaciones promocionales.
      </p>
      <%# .................................................................. %>
      <h3 class="">Social Media</h3>
      <p>
        Estamos presentes em v&aacute;rias redes sociais, como Facebook, Instagram, Twitter, Google+, Pinterest e LinkedIn. Podemos coletar informações quando você interage com nossas contas e p&aacute;ginas de m&iacute;dia social.
      </p>
      <%# .................................................................. %>
      <h2 class="py-3">III. COMO USAMOS E COMPARTILHAMOS AS INFORMAÇÕES</h2>
      <p>Os dados que coletamos sobre você podem ser usados ​​das seguintes maneiras:</p>
      <ul>
        <li>
          Solucione nossos sites e diagnostique problemas
          Fornecer quaisquer serviços, suporte ou informações que você tenha solicitado.
        </li>
        <li>
          Fornecer quaisquer serviços, suporte ou informações que você tenha solicitado.
        </li>
        <li>
          Enviar mensagens aos clientes de nossa empresa relacionadas a v&aacute;rias funções de negócios, como aquelas relacionadas a pagamentos ou mudanças no serviço
        </li>
        <li>
          Entenda melhor o comportamento do usu&aacute;rio em nossos sites para que possamos atualizar nosso fornecemos a você todos os serviços, suporte ou informações que você solicitou no site para melhor atender às necessidades e interesses de nossos clientes.
        </li>
      </ul>
      <%# .................................................................. %>
      <h2 class="py-3">IV. Responsabilidade pessoal e ren&uacute;ncia de reclamação:</h2>
      <p>
        O Cliente e/ou usu&aacute;rio em geral que aceda à p&aacute;gina: nuncafoitaofacil.pt renuncia a processar Lu&iacute;s Castro, o Gestor Comercial e os sócios da empresa IDEALL, bem como renuncia a processar os respons&aacute;veis ​​e criadores da p&aacute;gina e site da nuncafoitaofacil.pt quanto aos criadores das diferentes redes sociais que promovem toda ou qualquer responsabilidade por danos, causas e acções, denúncias, processos, quantias em dinheiro ou reclamações, o que seja legal, ou similar que o cliente possa ter agora ou em o futuro contra todos os sócios da Ideall e nuncafoitaofacil.pt que foram dados pela participação no passado ou no futuro.
      </p>

      <h3 class="">
        IDEALL- COMPANY NÃO SE RESPONSABILIZA POR INCONFORMIDADE DE CLIENTES E/OU USUARIO EM GERAL.
      </h3>

      <%# .................................................................. %>
      <h3 class="">Informação pessoal</h3>

      <p>
        Podemos compartilhar suas informações pessoais com fornecedores e outros fornecedores terceirizados que prestam serviços à empresa. Em geral, os fornecedores e fornecedores terceirizados que usamos apenas coletarão, usarão e divulgarão suas informações na medida necessária para permitir que executem os serviços que prestam à Empresa. Por exemplo, quando você nos fornece informações pessoais para fazer uma consulta sobre os preços dos pacotes de diferentes empresas, como MEO NOS VODAFONE ou NOWO, você concorda que coletamos e usamos essas informações pessoais para esse fim específico, incluindo a transmissão de esta. informações aos nossos fornecedores (e seus prestadores de serviços) que fornecem esses serviços à Empresa.
        No entanto, certos provedores de serviços terceirizados têm suas próprias políticas de privacidade em relação às informações que devemos fornecer a eles para usar seus serviços. Para esses provedores de serviços terceirizados, recomendamos que você leia suas políticas de privacidade para entender como esses provedores tratarão suas informações pessoais.
      </p>
      <%# .................................................................. %>
      <h3 class="">Informação no pessoal</h3>
      <p>
        Em geral, usamos informações não pessoais para nos ajudar a melhorar o site e personalizar a experiência do usuário. Também agregamos informações não pessoais para rastrear tendências e analisar os padrões de uso do site. Esta Política de Privacidade não limita de forma alguma nosso uso ou divulgação de Informações Não Pessoais e nos reservamos o direito de usar e divulgar tais Informações Não Pessoais a nossos parceiros, anunciantes e outros terceiros a nosso exclusivo critério.
      </p>
      <%# .................................................................. %>
      <h2 class="py-3">VII. LINKS PARA OUTROS WEBSITES</h2>
      <p>
        Como parte do site, podemos fornecer links ou compatibilidade com outros sites ou aplicativos. No entanto, não somos responsáveis ​​pelas práticas de privacidade empregadas por esses sites ou pelas informações ou conteúdo que eles contêm. Esta Política de Privacidade se aplica apenas às informações coletadas por nós por meio do site. Portanto, esta Política de Privacidade não se aplica ao uso de um site de terceiros que é acessado selecionando um link em nosso site. Na medida em que você acessa ou usa o site por meio de ou em outro site ou aplicativo, a política de privacidade desse outro site ou aplicativo se aplica ao seu acesso ou uso desse site ou aplicativo. Incentivamos nossos usuários a ler as declarações de privacidade de outros sites antes de continuar a usá-los.
      </p>
      <%# .................................................................. %>
      <h2 class="py-3">SE NÃO DESEJA ACEITAR ESTES TERMOS, DEIXE O SITE NUNCAFOITAOFACIL.PT IMEDIATAMENTE</h2>
    </div>
  </div>
</div>

<style>
  .condicos{
    padding: 0 3.5rem !important;
  }
</style>
