<div class="pricing-table-container">
  <div class="pricing-table px-lg-4 pt-5">
    <div class="pricing-card" data-aos="fade-up" data-aos-duration="2000">
      <h3 class="pricing-card-header">Gaming com tudo</h3>
      <div class="price"><sup>€</sup>69,99<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 200 Canais</strong><br>
          MEOBox | Pack Standard 
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>NET - 1000/400 Mbps</strong><br>
          Download/upload Mbps
        </li>

        <li>
          <i class="fas fa-mobile-alt"></i>
          <strong>M&oacute;vel - 1 GB</strong><br>
          <span>
            3.500 minutos + 3.500 SMS<br>
            Máxima velocidade da rede<br>
            Opção: 2GB por +€1/mês
          </span>
        </li>

        <li>
          <i class="fas fa-sim-card"></i>
          <strong>Cartões - 1 cartão</strong><br>
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ - Chamadas inclu&iacute;das</strong><br>
          <span>
            Redes fixas nacionais 24h + 50 destinos<br>
            internacionais (noite, 1.000 min)
          </span>
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(operator: "MEO"), remote: true, class: "text-uppercase order-btn order-btn", role: "button" %>
    </div>

    <div class="pricing-card" data-aos="fade-down" data-aos-duration="2000">
      <h3 class="pricing-card-header">Gaming com TV, Net e Voz</h3>
      <div class="price"><sup>€</sup>50,99<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 150 Canais</strong><br>
          Pack Standard | 150 canais 
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>NET - 1000/400 Mbps</strong><br>
          Download/upload Mbps
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ - Chamadas inclu&iacute;das</strong><br>
          <span>
            Redes fixas nacionais 24h + 50 destinos<br>
            internacionais (noite, 1.000 min)
          </span>
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(operator: "NOS"), remote: true, class: "text-uppercase order-btn order-btn-nos", role: "button" %>
    </div>

    <div class="pricing-card" data-aos="fade-up" data-aos-duration="2000">
      <h3 class="pricing-card-header">Gaming com Net</h3>
      <div class="price"><sup>€</sup>39,99<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-wifi"></i>
          <strong>NET - 1000/400 Mbps</strong><br>
          Download/upload Mbps
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(operator: "VODAFONE"), remote: true, class: "text-uppercase order-btn order-btn-vodafone", role: "button" %>
    </div>
  </div>
</div>
