<div class="pricing-table-container">
  <div class="pricing-table pt-5">
    <div class="pricing-card" data-aos="fade-up" data-aos-duration="2000">
      <h3 class="pricing-card-header-meo-18">M2 - TV e Voz</h3>
      <div class="price"><sup>€</sup>32,99<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 150 Canais</strong><br>
          MEOBox | Pack Standard 
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ - Chamadas inclu&iacute;das</strong><br>
          <span>
            Redes fixas nacionais 24h + 50 destinos<br>
            internacionais (noite, 1.000 min)
          </span>
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(operator: "MEO"), remote: true, class: "text-uppercase order-btn order-btn", role: "button" %>
    </div>

    <div class="pricing-card" data-aos="fade-down" data-aos-duration="2000">
      <h3 class="pricing-card-header-meo-18">M2 - Net e Voz</h3>
      <div class="price"><sup>€</sup>27,99<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-wifi"></i>
          <strong>NET - 100/100 Mbps</strong><br>
          Download/upload
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ - Chamadas inclu&iacute;das</strong><br>
          <span>
            Redes fixas nacionais 24h + 50 destinos<br>
            internacionais (noite, 1.000 min)
          </span>
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(operator: "MEO"), remote: true, class: "text-uppercase order-btn order-btn", role: "button" %>
    </div>

    <div class="pricing-card" data-aos="fade-up" data-aos-duration="2000">
      <h3 class="pricing-card-header-meo-15">M1 - Net</h3>
      <div class="price"><sup>€</sup>24,99<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-wifi"></i>
          <strong>NET - 30/3 Mbps</strong><br>
          Download/upload<br>
          500GB de tráfego incluído
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(operator: "MEO"), remote: true, class: "text-uppercase order-btn order-btn", role: "button" %>
    </div>

    <div class="pricing-card" data-aos="fade-down" data-aos-duration="2000">
      <h3 class="pricing-card-header-meo-13">M1 - TV</h3>
      <div class="price"><sup>€</sup>24,99<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 120 Canais</strong><br>
          Sem MEOBox.
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(operator: "MEO"), remote: true, class: "text-uppercase order-btn order-btn", role: "button" %>
    </div>
  </div>
</div>
