<div class="pricing-table-container">
  <div class="pricing-table py-5">
    <div class="pricing-card" data-aos="fade-up" data-aos-duration="2000">
      <h3 class="pricing-card-header-meo-51">M4</h3>
      <div class="price"><sup>€</sup>51,99<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 150 Canais</strong><br>
          MEOBox | Pack Standard 
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 100/100 Mbps</strong><br>
          Download/upload
        </li>

        <li>
          <i class="fas fa-mobile-alt"></i>
          <strong>M&oacute;vel - 500 MB</strong><br>
          <span>
            Máxima velocidade da rede<br>
            500 minutos + 500 SMS por cartão
          </span>
        </li>

        <li>
          <i class="fas fa-sim-card"></i>
          <strong>Cartões - 1 cartão</strong>
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ - Chamadas inclu&iacute;das</strong><br>
          <span>
            Redes fixas nacionais 24h + 50 destinos<br>
            internacionais (noite, 1.000 min)
          </span>
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(operator: "MEO"), remote: true, class: "text-uppercase order-btn order-btn", role: "button" %>
    </div>

    <div class="pricing-card" data-aos="fade-down" data-aos-duration="2000">
      <h3 class="pricing-card-header-meo-51">Oferta mais Internet em casa</h3>
      <div class="price"><sup>€</sup>53,99<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 200 Canais</strong><br>
          MEOBox | Pack Standard + Extra
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 200/100 Mbps</strong><br>
          Download/upload
        </li>

        <li>
          <i class="fas fa-mobile-alt"></i>
          <strong>M&oacute;vel - 1GB</strong><br>
          <span>
            Máxima velocidade da rede<br>
            3.500 minutos + 3.500 SMS por cartão
          </span>
        </li>

        <li>
          <i class="fas fa-sim-card"></i>
          <strong>Cartões - 1 cartão</strong>
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ - Chamadas inclu&iacute;das</strong><br>
          <span>
            Redes fixas nacionais 24h + 50 destinos<br>
            internacionais (noite, 1.000 min)
          </span>
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(operator: "MEO"), remote: true, class: "text-uppercase order-btn order-btn", role: "button" %>
    </div>

    <div class="pricing-card" data-aos="fade-up" data-aos-duration="2000">
      <h3 class="pricing-card-header-meo-99">M4 - MEO com tudo</h3>
      <div class="price"><sup>€</sup>99,99<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 200 Canais</strong><br>
          MEOBox | Pack Standard + Extra | 200 canais +<br>
          €50/mês em canais e serviços premium<br>
          e MEO Go Multi.
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 1.000/400 Mbps</strong><br>
          Download/upload<br>
          A máxima velocidade do mercado.
        </li>

        <li>
          <i class="fas fa-mobile-alt"></i>
          <strong>M&oacute;vel - Dados, minutos e SMS ilimitados</strong><br>
          <span>
            Máxima velocidade da rede
          </span>
        </li>

        <li>
          <i class="fas fa-sim-card"></i>
          <strong>Cartões - 1 cartão incluído | ilimitado</strong><br>
          Cartões adicionais ilimitados desde + <br>
          €24,9/mês ou desde €13,90/mês com 3GB. <br>
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ - Chamadas ilimitadas<br>
          </strong>
          <span>
            Redes fixas nacionais 24h + 50 destinos<br>
            internacionais (noite, 1.000 min)
          </span>
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(operator: "MEO"), remote: true, class: "text-uppercase order-btn order-btn", role: "button" %>
    </div>

    <div class="pricing-card" data-aos="fade-down" data-aos-duration="2000">
      <h3 class="pricing-card-header-meo-69">Móvel ilimitado</h3>
      <div class="price"><sup>€</sup>69,99<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 200 Canais</strong><br>
          MEOBox | Pack Standard + Extra
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 200/100 Mbps</strong><br>
          Download/upload
        </li>

        <li>
          <i class="fas fa-mobile-alt"></i>
          <strong>M&oacute;vel - Velocidade 10 Mbps</strong><br>
          <span>
            Dados Ilimitados e velocidade até 10 Mpbs<br>
            Minutos ilimitados + SMS ilimitados
          </span>
        </li>

        <li>
          <i class="fas fa-sim-card"></i>
          <strong>Cartões - 1 cartão incluído | ilimitado</strong><br>
          <span>
            Cartões adicionais ilimitados desde +<br>
            €24,9/mês ou desde €13,90/mês com 3GB.
          </span>
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ - Chamadas inclu&iacute;das</strong><br>
          <span>
            Redes fixas nacionais 24h + 50 destinos<br>
            internacionais (noite, 1.000 min)
          </span>
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(operator: "MEO"), remote: true, class: "text-uppercase order-btn order-btn", role: "button" %>
    </div>
  </div>
</div>
