<div class="pricing-table-container">
  <div class="pricing-table pt-5">
    <div class="pricing-card" data-aos="fade-up" data-aos-duration="2000">
      <h3 class="pricing-card-header">M3</h3>
      <div class="price"><sup>€</sup>36,99<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 150 Canais</strong><br>
          MEOBox | Pack Standard 
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>NET - 500/100 Mbps</strong><br>
          Download/upload
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ - Chamadas inclu&iacute;das</strong><br>
          <span>
            Redes fixas nacionais 24h + 50 destinos<br>
            internacionais (noite, 1.000 min)
          </span>
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(operator: "MEO"), remote: true, class: "text-uppercase order-btn order-btn", role: "button" %>
    </div>

    <div class="pricing-card" data-aos="fade-down" data-aos-duration="2000">
      <h3 class="pricing-card-header">M3 - MEO com tudo</h3>
      <div class="price"><sup>€</sup>74,99<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 200 Canais</strong><br>
          Pack Standard + Extra | 200 canais + <br>
          €50/mês em canais e serviços 
          premium e MEO Go Multi.
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>NET - 1000/400 Mbps</strong><br>
          Download/upload<br>
          A máxima velocidade do mercado.
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ - Chamadas ilimitadas</strong><br>
          <span>
            Redes fixas nacionais 24h + 50 destinos<br>
            internacionais (noite, 1.000 min)
          </span>
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(operator: "MEO"), remote: true, class: "text-uppercase order-btn order-btn", role: "button" %>
    </div>

    <div class="pricing-card" data-aos="fade-up" data-aos-duration="2000">
      <h3 class="pricing-card-header">M3</h3>
      <div class="price"><sup>€</sup>30,99<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - Pack Standard | 120 canais</strong><br>
          Sem MEOBox.
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>NET - 30/10 Mbps</strong><br>
          Download/upload<br>
          500GB de tráfego incluído
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ - Chamadas inclu&iacute;das</strong><br>
          <span>
            Redes fixas nacionais 24h + 50 destinos<br>
            internacionais (noite, 1.000 min)
          </span>
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(operator: "MEO"), remote: true, class: "text-uppercase order-btn order-btn", role: "button" %>
    </div>
  </div>
</div>
