<main>
  <section class="wallpaper-meo{
    }
    ">
    <div class="container-menu">
      <div class="navi-menu">
        <div class="navi-menu-item1">
          <button class="nav-menu-button" id="startersbutton">
            <div class="navi-menu-icon"><i class="fas fa-seedling"></i></div>
            <%= link_to 'Starters', pacotes_telemovel_meo_path, remote: true, class: "navi-menu-text"%>
          </button>
        </div>

        <div class="navi-menu-item2">
          <button class="nav-menu-button" id="mainsbutton">
            <div class="navi-menu-icon"><i class="fas fa-pizza-slice"></i></div>
            <%= link_to 'Mains', pacotes_tv_net_voz_meo_path, remote: true, class: "navi-menu-text"%>
          </button>
        </div>

        <div class="navi-menu-item3">
          <button class="nav-menu-button" id="dessertsbutton">
            <div class="navi-menu-icon"><i class="fas fa-ice-cream"></i></div>
            <div class="navi-menu-text">Desserts</div>
          </button>
        </div>

        <div class="navi-menu-item4">
          <button class="nav-menu-button" id="drinksbutton">
            <div class="navi-menu-icon"><i class="fas fa-wine-glass-alt"></i></div>
            <div class="navi-menu-text">Drinks</div>
          </button>
        </div>

        <div class="navi-menu-item5">
          <button class="nav-menu-button" id="drinksbutton">
            <div class="navi-menu-icon"><i class="fas fa-wine-glass-alt"></i></div>
            <div class="navi-menu-text">Drinks</div>
          </button>
        </div>
      </div>
    </div>

    <div id="result-menu"></div>

  </section>
</main>
