.bg-about {
  background-image: linear-gradient(
    to top,
    #ffffff,
    #d4d4d5,
    #aaabac,
    #828384,
    #5c5e5f,
    #484c4d,
    #353a3b,
    #232929,
    #1c2423,
    #141e1e,
    #0c1919,
    #001413
  );
}

#about {
  padding-top: 1rem;
  padding-bottom: 6.3rem;
}

#about .triangle-right {
  margin-top: 5.938rem;
  width: 0;
  height: 0;
  border-top: 16.188rem solid transparent;
  border-left: 29.375rem solid #d6c6b2;
  border-bottom: 16.188rem solid transparent;
}

#about .triangle-right img {
  position: absolute;
  left: -0.063rem;
  top: 5.063rem;
  width: 74%;
}

.fa-play {
  font-size: 6.25rem;
}

#about .p-first {
  margin-bottom: 1.875rem;
}

#about h2 {
  margin-bottom: 2.938rem;
  margin-top: 0.75rem;
}

#about .social-link-text {
  margin-top: 3.125rem;
  margin-bottom: 1.563rem;
}

#about .about-link {
  padding-left: 0;
}

#about .about-link li {
  display: inline-block;
}

#about .about-link li a i {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 3.125rem;
  line-height: 3.125rem;
  text-align: center;
  border: 0.063 solid #d6c6b2;
  margin-right: 0.625rem;
  font-size: 1.375rem;
  color: #d6c6b2;
  transition: all 0.3s;
}

#about .about-link li a i:hover {
  color: #222222;
  background: #d6c6b2;
  border-color: #d6c6b2;
}

#about .about-img {
  position: relative;
}

#about .about-img {
  position: relative;
}

#about .about-img .man {
  position: absolute;
  bottom: 10rem;
  top: 0.75rem;
  left: -0.125rem;
}

.color-3 {
  color: #d6c6b2;
}

p {
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #1a1106;
}

.btn-danger {
  border-radius: 0;
  padding: 0.625rem 1.25rem;
}
