.bg-about {
  background-image: linear-gradient(
    to top,
    #ffffff,
    #d4d4d5,
    #aaabac,
    #828384,
    #5c5e5f,
    #484c4d,
    #353a3b,
    #232929,
    #1c2423,
    #141e1e,
    #0c1919,
    #001413
  );
}

#about {
  padding-top: 98px;
  padding-bottom: 101px;
}

#about .triangle-right {
  margin-top: 95px;
  width: 0;
  height: 0;
  border-top: 259px solid transparent;
  border-left: 470px solid #d6c6b2;
  border-bottom: 259px solid transparent;
}

#about .triangle-right img {
  position: absolute;
  left: -1px;
  top: 81px;
  width: 74%;
}

.fa-play {
  font-size: 100px;
}

#about .p-first {
  margin-bottom: 30px;
}

#about h2 {
  margin-bottom: 47px;
  margin-top: 12px;
}

#about .social-link-text {
  margin-top: 50px;
  margin-bottom: 25px;
}

#about .about-link {
  padding-left: 0px;
}

#about .about-link li {
  display: inline-block;
}

#about .about-link li a i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  border: 1px solid #d6c6b2;
  margin-right: 10px;
  font-size: 22px;
  color: #d6c6b2;
  transition: all 0.3s;
}

#about .about-link li a i:hover {
  color: #222222;
  background: #d6c6b2;
  border-color: #d6c6b2;
}

#about .about-img {
  position: relative;
}

#about .about-img {
  position: relative;
}

#about .about-img .man {
  position: absolute;
  bottom: 161px;
  top: 12px;
  left: -2px;
}

.color-3 {
  color: #d6c6b2;
}

p {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
  color: #1a1106;
}

.btn-danger {
  border-radius: 0;
  padding: 10px 20px;
}
