.bg-about {
  background-image: linear-gradient(
    to top,
    #ffffff,
    #d4d4d5,
    #aaabac,
    #828384,
    #5c5e5f,
    #484c4d,
    #353a3b,
    #232929,
    #1c2423,
    #141e1e,
    #0c1919,
    #001413
  );
}

#about {
  padding-top: 1rem;
  padding-bottom: 6.3rem;
}
