* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p {
  line-height: 1.75;
}

a {
  color: #fed136;
}

a:hover {
  color: #fec503;
}

.text-primary {
  color: #fff !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.page-section {
  padding: 10rem 0;
}

.page-section-2 h2.section-heading {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0.938rem;
}

.page-section-2 h3.section-subheading {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 4.69rem;
  text-transform: none;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.container-navbar .logo-ideall {
  width: 9.375rem;
  height: 4.69rem;
}

::-moz-selection {
  background: #fed136;
  text-shadow: none;
}

::selection {
  background: #fed136;
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.btn {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
}

.btn-xl {
  font-size: 1.125rem;
  padding: 1.25rem 2.5rem;
}

#mainNav {
  background-color: #212529;
}

#mainNav .navbar-toggler {
  font-size: 0.75rem;
  right: 0;
  padding: 0.813rem;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #0e8dc7;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#mainNav .navbar-brand {
  color: #0e8dc7;
  font-family: "Kaushan Script", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
  color: #0e8dc7;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 0.063rem;
  color: rgb(19, 18, 18);
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #00aeff;
}

@media (min-width: 992px) {
  #mainNav {
    padding-right: 2rem;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1em;
  }
}

.shadowNav {
  -webkit-box-shadow: 0 0.625rem 1rem -0.5rem rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0.625rem 1rem -0.5rem rgba(0, 0, 0, 0.75);
  box-shadow: 0 0.625rem 1rem -0.5rem rgba(0, 0, 0, 0.75);
}

.service-heading {
  margin: 0.94rem 0;
  text-transform: none;
}

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 0.94rem;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 25rem;
  margin: 0 auto;
  cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(254, 209, 54, 0.9);
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content {
  font-size: 1.25rem;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1.25rem;
  margin-top: -0.75rem;
  text-align: center;
  color: white;
}

#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content
  i {
  margin-top: -0.75rem;
}

#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content
  h3,
#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content
  h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 25rem;
  margin: 0 auto;
  padding: 1.563rem;
  text-align: center;
  background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-size: 1rem;
  font-style: italic;
  margin: 0;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#portfolio * {
  z-index: 2;
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 1.875rem;
  }
}

.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}

.portfolio-modal .modal-content {
  padding: 6.25rem 0;
  text-align: center;
}

.portfolio-modal .modal-content h2 {
  font-size: 3em;
  margin-bottom: 0.938rem;
}

.portfolio-modal .modal-content p {
  margin-bottom: 1.875rem;
}

.portfolio-modal .modal-content p.item-intro {
  font-size: 1rem;
  font-style: italic;
  margin: 1.25rem 0 1.875rem;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.portfolio-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 1.875rem;
}

.portfolio-modal .modal-content img {
  margin-bottom: 1.875rem;
}

.portfolio-modal .modal-content button {
  cursor: pointer;
}

.portfolio-modal .close-modal {
  position: absolute;
  top: 1.563rem;
  right: 1.563rem;
  width: 4.69rem;
  height: 4.69rem;
  cursor: pointer;
  background-color: transparent;
}

.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
  /* Safari and Chrome */
  z-index: 1051;
  width: 0.063;
  height: 4.69rem;
  margin-left: 2.188rem;
  /* IE 9 */
  transform: rotate(45deg);
  background-color: #212529;
}

.portfolio-modal .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 0.063;
  height: 4.69rem;
  /* IE 9 */
  transform: rotate(90deg);
  background-color: #212529;
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2.188rem;
  width: 0.125rem;
  margin-left: -0.094rem;
  content: "";
  background-color: #e9ecef;
}

.timeline > li {
  position: relative;
  min-height: 3.125rem;
  margin-bottom: 3.125rem;
}

.timeline > li:after,
.timeline > li:before {
  display: table;
  content: " ";
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 1.25rem 0 6.25rem;
  text-align: left;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -0.938rem;
  border-right-width: 0.938rem;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -0.875rem;
  border-right-width: 0.875rem;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 5rem;
  height: 5rem;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 0.438rem solid #e9ecef;
  border-radius: 100%;
  background-color: #fed136;
}

.timeline > li .timeline-image h4 {
  font-size: 0.625rem;
  line-height: 0.875rem;
  margin-top: 0.75rem;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 1.25rem 0 6.25rem;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -0.938rem;
  border-right-width: 0.938rem;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -0.875rem;
  border-right-width: 0.875rem;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 6.25rem;
    margin-bottom: 6.25rem;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 1.25rem 1.25rem 1.875rem;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 6.25rem;
    height: 6.25rem;
    margin-left: -3.125rem;
  }
  .timeline > li .timeline-image h4 {
    font-size: 0.813rem;
    line-height: 1.125rem;
    margin-top: 1rem;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 1.875rem 1.25rem 1.25rem;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .timeline > li {
    min-height: 9.375rem;
  }
  .timeline > li .timeline-panel {
    padding: 0 1.25rem 1.25rem;
  }
  .timeline > li .timeline-image {
    width: 9.375rem;
    height: 9.375rem;
    margin-left: -4.69rem;
  }
  .timeline > li .timeline-image h4 {
    font-size: 1.125rem;
    line-height: 1.625rem;
    margin-top: 1.875rem;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 1.25rem 1.25rem;
  }
}

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 10.625rem;
  }
  .timeline > li .timeline-panel {
    padding: 0 1.25rem 1.25rem 6.25rem;
  }
  .timeline > li .timeline-image {
    width: 10.625rem;
    height: 10.625rem;
    margin-left: -5.313rem;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 2.188rem;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 6.25rem 1.25rem 1.25rem;
  }
}

.team-member {
  background-size: cover;
}

.team-2 {
  height: 134%;
  width: 100%;
}

section#contact {
  background-color: #212529;
  background-image: url(map-image.png);
  background-repeat: no-repeat;
  background-position: center;
}

section#contact .section-heading {
  color: #fff;
}

section#contact .form-group {
  margin-bottom: 1.563rem;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 0.625rem;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 15.5rem;
}

section#contact .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

section#contact :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

section#contact ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

section#contact :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.footer {
  padding: 1.563rem 0;
  text-align: center;
  width: 100%;
}

.footer span.copyright {
  font-size: 90%;
  line-height: 2.188rem;
  text-transform: none;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.footer ul.quicklinks {
  font-size: 90%;
  line-height: 2.188rem;
  margin-bottom: 0;
  text-transform: none;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 1.25rem;
  line-height: 3.125rem;
  display: block;
  width: 3.125rem;
  height: 3.125rem;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: #fed136;
}

/* Portfolio */

.service-heading {
  margin: 0.938rem 0;
  text-transform: none;
}

.section-portfolio {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fff;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .textBox h2 {
  color: #333;
  font-size: 3em;
  line-height: 1.4em;
  font-weight: bold;
}

.texBox--phrase {
  display: inline-block;
}

.texBox--title {
  display: inline-block;
}

.text-decoration {
  background: linear-gradient(
    90deg,
    rgba(197, 18, 2, 0.877) 0%,
    rgba(20, 0, 0, 0.904) 36%
  );
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}

.text-decoration:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(rgb(27, 11, 11), 0.2);
}

.letter {
  color: #e43220;
  font-size: 1.2em;
  font-weight: 900;
  display: inline-block;
}

.content .textBox p {
  color: #333;
}

.btn-2 {
  display: inline-block;
  margin-top: 1.25rem;
  padding: 0.5rem 1.25rem;
  background-color: #e43220;
  color: #fff;
  border-radius: 2.188rem;
  font-weight: 500;
  letter-spacing: 0.063;
  text-decoration: none;
  position: relative;
  transition: 0.5s;
}

.btn-2:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.75);
}

.btn-2::after {
  content: "";
  border-radius: 10rem;
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.4s;
  width: 100%;
  z-index: -1;
}

.btn-2:hover::after {
  opacity: 0;
  transform: scaleX(1.4) scaleY(1.6);
}

.btn-2:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.75);
  color: #fff;
}

.btn--white::after {
  background-color: #484848;
}

.btn--white-2 {
  background-color: #e43220;
  color: #fff;
}

.btn--white-2::after {
  background-color: #e43220;
}

.content .imgBox {
  width: 37.5rem;
  display: flex;
  justify-content: flex-end;
  margin-top: 3.125rem;
}

.content .imgBox img {
  max-width: 21.25rem;
}

.thumb {
  position: absolute;
  left: 50%;
  bottom: 1.25rem;
  transform: translateX(-50%);
  display: flex;
}

.thumb li {
  list-style-type: none;
  display: inline-block;
  margin: 0 1.25rem;
  cursor: pointer;
  transition: 0.5s;
}

.thumb li:hover,
.thumb li:active {
  transform: translateY(-0.938rem) scaleX(1.4) scaleY(1.6);
}

.thumb li img {
  max-width: 5rem;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e43220;
  clip-path: circle(45.5rem at right 50rem);
}

@media (max-width: 991px) {
  header {
    padding: 0.625rem;
  }

  header .logo {
    max-width: 3.75rem;
  }

  header ul {
    display: none;
  }

  section {
    padding: 1.25rem 1.25rem 7.5rem;
  }

  .content {
    flex-direction: column;
    margin-top: 1.875rem;
  }

  .content .textBox h2 {
    font-size: 1.5em;
    margin-bottom: 0.938rem;
  }

  .content .textBox {
    max-width: 100%;
  }

  .content .imgBox {
    max-width: 100%;
    justify-content: center;
  }

  .content .imgBox img {
    max-width: 18.75rem;
  }

  .thumb li {
    margin: 0;
  }

  .thumb li img {
    max-width: 2.188rem;
  }

  .circle {
    clip-path: circle(25rem at center bottom);
  }

  .thumb-container {
    display: flex;
    align-items: center;
  }
}

.meo_logo_pacotes {
  max-width: 20%;
}

.activate_pacote {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 0.063rem;
  text-decoration: none !important;
  color: #131212;
  padding: 1.1em 1em;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.activate_pacote:hover {
  color: #00aeff;
}

.pacotes_hover_nos:hover {
  color: #3600fa !important;
}

.pacotes_hover_vodafone:hover {
  color: #e43220 !important;
}

.pacotes_hover_nowo:hover {
  color: #fb4d29 !important;
}

.menu_nos {
  background-color: #3600fa !important;
}

.menu_vodafone {
  background-color: #e43220 !important;
}

.menu_nowo {
  background-color: #fb4d29 !important;
}

@media (max-width: 991px) {
  .activate_pacote {
    padding: 1.1rem 0 !important;
  }

  .margin-ideall-pacotes {
    margin-top: 1.15rem;
  }

  .margin_dropdown {
    margin-top: 0.5rem;
  }

  .pacotes_hover_pading {
    padding-left: 1rem !important;
  }
}
