#cajacookies {
  box-shadow: 0 0 0.325rem 0.325rem #808080;
  background: #212121;
  padding: 1.4rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1500;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cajacookies p {
  color: #fff;
  font-size: 0.8rem;
}

#cajacookies a {
  background: #000;
  color: #fff;
  transition: none;
}
