/* ================Variables================ */

:root {
  /* theme color */
  --dark-green: #008060;
  --white: #fff;
  --light-gray: #6b7177;
  --light-gray1: #d2d5d9;
  --dark-gray: #131416;
  --dark-gray1: #212326;
}

/* =================Site Header================= */

.site-header {
  position: relative;
  height: 100vh;
}

.textBox--h3 .typed-cursor {
  color: #131416;
}

.site-header .logo {
  width: 5rem;
}

.site-header .title h1 {
  margin-top: 3.438rem;
  font-size: 2.5rem;
  letter-spacing: 0.063rem;
  color: var(--white);
}

.site-header .title p {
  margin-top: 1.25rem;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.063rem;
  color: var(--white);
}

.site-header img {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 15;
  background-size: cover;
}

.site-header .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 20;
}

.wave-promo {
  background: #001413;
}

.wave-vision {
  background: #212529;
}

#page-top > svg.wave-promo > path:nth-child(1),
#page-top > svg.wave-promo > path:nth-child(2) {
  fill: #e43220;
}

/* ===================Site Feature=================== */

.site-feature {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 62.5rem;
  margin: 8% auto;
  padding: 3% 0;
}

.site-feature div {
  width: 85%;
}

.site-feature div img {
  width: 3.125rem;
  height: 3.125rem;
  object-fit: contain;
}

.site-feature div h3 {
  margin-top: 1.25rem;
  color: var(--dark-gray1);
}

.site-feature div p {
  margin-top: 1.25rem;
  color: var(--light-gray);
  font-weight: 300;
}

/* ===============Brand=============== */

.site-brand {
  display: flex;
  flex-wrap: wrap;
  padding: 1.875rem 0;
  margin: 2.5rem auto;
  width: 62.5rem;
  justify-content: center;
  border: 0.063rem solid var(--light-gray1);
  border-right: none;
  border-left: none;
}

.site-brand .brand-img {
  width: 5.625rem;
  margin: 1.25rem 0.625rem;
}

/* ================Quote================ */

.site-quote {
  margin: 6.25rem auto;
  text-align: center;
  width: 50rem;
}

.site-quote h1 {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.5em;
  letter-spacing: 0.063rem;
}

.site-quote p {
  margin-top: 1.875rem;
  color: var(--dark-gray1);
  font-weight: 500;
  font-size: 0.8em;
  letter-spacing: 0.063rem;
}

.site-quote button {
  height: 3.125rem;
  margin-top: 3.125rem;
  padding: 0 1.875rem;
  border: none;
  border-radius: 0.313rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  background-color: var(--dark-green);
}

/* ===============Media=============== */

@media (max-width: 1242px) {
  /* Header */

  .site-header .free-trial-form {
    flex-direction: column;
  }

  .site-header .free-trial-form input {
    width: 100%;
  }

  .site-header .free-trial-form button {
    height: 3.125rem;
    width: 40%;
    margin-top: 0.625rem;
    margin-left: 0;
  }
}

@media (max-width: 1080px) {
  /* Header */

  .site-header .title h1 {
    font-size: 2rem;
    font-weight: 500;
  }

  .site-header .title p {
    font-size: 1.3rem;
    font-weight: 300;
  }

  .site-header img {
    width: 100%;
  }

  .site-header .free-trial-form {
    flex-direction: row;
  }

  .site-header .free-trial-form input {
    width: 40%;
  }

  .site-header .free-trial-form button {
    height: 3.125rem;
    width: auto;
    margin-top: 0;
    margin-left: 1.25rem;
    padding: 0 1.875rem;
  }

  /* Feature */

  .site-feature {
    width: 43.75rem;
  }

  /* Brand */

  .site-brand {
    width: 43.75rem;
  }

  /* Quote */

  .site-quote {
    width: 37.5rem;
  }

  .site-quote h1 {
    font-size: 1.3em;
  }

  /* Footer */

  footer {
    width: 43.75rem;
  }
}

@media (max-width: 750px) {
  /* Header */

  .site-header {
    height: 100vh;
  }

  .site-header .free-trial-form input {
    width: 70%;
  }

  .site-header .note {
    width: 80%;
  }

  .site-header img {
    width: 100%;
  }

  /* Feature */

  .site-feature {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 0 1.875rem;
  }

  .site-feature div {
    margin-top: 2.5rem;
    width: 100%;
  }

  .site-feature div img {
    width: 2.5rem;
  }

  /* Brand */

  .site-brand {
    width: 90%;
  }

  .site-brand .brand-img {
    width: 6.875rem;
  }

  /* Quote */

  .site-quote {
    width: 90%;
  }

  /* Footer */

  footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 484px) {
  /* Header */

  .site-header .free-trial-form {
    flex-direction: column;
  }

  .site-header .free-trial-form input {
    width: 90%;
  }

  .site-header .free-trial-form button {
    width: 90%;
    margin-top: 0.625rem;
    margin-left: 0;
  }
}

.heading-primary-- {
  animation: moveInLeft 2s ease-out;
}

.heading-primary--sub {
  animation-duration: 2s;
  animation-name: moveInRight;
  animation-timing-function: ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    opacity: 0.7;
    transform: translateX(2rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    opacity: 0.7;
    transform: translateX(-2rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (max-width: 1040px) {
  .site-header {
    height: 80vh;
  }

  .site-header img {
    height: 80vh;
  }
}

@media only screen and (width: 1024px) and (height: 1366px) {
  .site-header {
    height: 55vh;
  }

  .site-header img {
    height: 55vh;
  }
}

@media only screen and (max-width: 810px) {
  .site-header {
    height: 40vh;
  }

  .site-header img {
    height: 40vh;
  }
}

@media only screen and (max-width: 400px) {
  .site-header {
    height: 35vh;
  }

  .site-header img {
    height: 35vh;
  }
}

.btn-header-1 {
  color: #40132b !important;
  background: white !important;
  border: 0.125rem solid #40132b !important;
  border-radius: 0.2rem !important;
}

.button-header-2 {
  align-items: center;
  justify-content: center;
  height: 100%;
  display: flex;
  width: 100%;
  position: absolute;
  z-index: 20;
}
