@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.button--transparent {
  background: transparent;
  border: 0;
  outline: 0;
}

.nav--top {
  position: absolute;
  left: 0;
  right: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px;
  color: white;
  z-index: 10;
}
.nav--top a,
.nav--top button {
  color: currentColor;
}
.nav--top svg.outline * {
  stroke: currentColor;
}
.nav--top svg.glyph * {
  fill: currentColor;
}

.hero--main {
  display: flex;
  align-items: center;
  min-height: 32.25rem;
  text-align: center;
  color: white;

  background-image: asset-url("fibra-meo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
}

.fibra-meo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fibra-meo-title {
  // width: 40%;
}

.fibra-meo-subtitle {
  color: #fff;
  font-weight: 900;
  // letter-spacing: 1rem;
}

.bg-fibra-meo {
  background: linear-gradient(0deg, rgb(31, 34, 37) 88%, rgb(228, 238, 250));
}

.nav-menu {
  transition: 500ms all ease-out;
}
.nav-menu:hover {
  background-color: rgba(255, 251, 0, 0.329);
}

// NavBar

/*----------multi-level-accordian-menu------------*/
.navbar-fixed {
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99; //Change as per your requirement.
}

.navbar-logo {
  padding: 15px;
  color: #fff;
}
.navbar-mainbg {
  background-color: #000;
  padding: 0px;
}
#navbarSupportedContent {
  overflow: hidden;
  position: relative;
}
#navbarSupportedContent ul {
  padding: 0px;
  margin: 0px;
}
#navbarSupportedContent ul li a i {
  margin-right: 10px;
}
#navbarSupportedContent li {
  list-style-type: none;
  float: left;
}
#navbarSupportedContent ul li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 20px 20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}
#navbarSupportedContent > ul > li.active > a {
  color: #1f69a8;
  background-color: transparent;
  transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
  content: "\f105";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}
#navbarSupportedContent .active > a:not(:only-child):after {
  transform: rotate(90deg);
}

@media (max-width: 991px) {
  #navbarSupportedContent ul li a {
    padding: 12px 30px;
  }
}
