.color-nav {
  color: #fefefe;
}
.hero--main {
  display: flex;
  align-items: center;
  min-height: 28.25rem;
  text-align: center;
  color: white;

  background-image: asset-url("meo_bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
}

.hero--main__nos {
  display: flex;
  align-items: center;
  background-image: asset-url("NOS-cobertura.jpg");
  min-height: 17.25rem;
  text-align: center;
  color: white;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero--main__vodafone {
  display: flex;
  align-items: center;
  background-image: asset-url("vodafone.jpeg");
  min-height: 17.25rem;
  text-align: center;
  color: white;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero--main__nowo {
  min-height: 26rem;
  background-image: asset-url("nowo_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 1260px) {
  .hero--main__nos {
    min-height: 13.25rem;
  }
}

@media only screen and (max-width: 980px) {
  .hero--main__nos {
    min-height: 10.25rem;
  }
}

@media only screen and (max-width: 754px) {
  .hero--main__nos {
    min-height: 8.25rem;
  }
}

@media only screen and (max-width: 614px) {
  .hero--main__nos {
    min-height: 7.25rem;
  }
}

@media only screen and (max-width: 528px) {
  .hero--main__nos {
    min-height: 6.25rem;
  }
}

@media only screen and (max-width: 455px) {
  .hero--main__nos {
    min-height: 5.25rem;
  }
}

@media only screen and (max-width: 390px) {
  .hero--main__nos {
    min-height: 4.25rem;
  }
}

@media only screen and (max-width: 310px) {
  .hero--main__nos {
    min-height: 3.25rem;
  }
}

@media only screen and (max-width: 1115px) {
  .hero--main {
    min-height: 26.25rem;
  }
}

@media only screen and (max-width: 1081px) {
  .hero--main {
    min-height: 19rem;
  }
}

@media only screen and (max-width: 752px) {
  .hero--main {
    min-height: 17rem;
  }
}

@media only screen and (max-width: 780px) {
  .hero--main {
    min-height: 14rem;
  }
}

@media only screen and (max-width: 560px) {
  .hero--main {
    min-height: 11rem;
  }
}

@media only screen and (max-width: 440px) {
  .hero--main {
    min-height: 8rem;
  }
}

@media only screen and (max-width: 326px) {
  .hero--main {
    min-height: 6rem;
  }
}

@media only screen and (min-width: 1024px) and (max-device-width: 1366px) {
  .hero--main__nowo {
    min-height: 23rem;
  }
}

@media only screen and (max-width: 280px) and (max-height: 700px) {
  .navbar-brand {
    display: none;
  }

  .container {
    justify-content: flex-end;
  }
}

@media only screen and (min-width: 768px) and (max-device-width: 1024px) {
  .hero--main__nowo {
    min-height: 38rem;
  }
}

@media only screen and (max-width: 950px) {
  .hero--main__nowo {
    min-height: 22rem;
  }
}

@media only screen and (max-width: 850px) {
  .hero--main__nowo {
    min-height: 19rem;
  }
}

@media only screen and (max-width: 726px) {
  .hero--main__nowo {
    min-height: 16rem;
  }
}

@media only screen and (max-width: 484px) {
  .hero--main__nowo {
    min-height: 14rem;
  }
}

@media only screen and (max-width: 395px) {
  .hero--main__nowo {
    min-height: 13rem;
  }

  .price {
    font-size: 2.375rem;
  }
}

@media only screen and (max-width: 280px) {
  .hero--main__nowo {
    min-height: 8rem;
  }
}

.fibra-meo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fibra-meo-title {
  // width: 40%;
}

.fibra-meo-subtitle {
  color: #fff;
  font-weight: 900;
  // letter-spacing: 1rem;
}

.bg-fibra-meo {
  background: linear-gradient(0deg, rgb(31, 34, 37) 88%, rgb(228, 238, 250));
}
