.section-about-mh {
  padding: 5rem 0 7rem 0;
  overflow-x: hidden;
}

.section-about {
  margin-top: 5rem;
}

.about-center {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 3rem 5rem;
}

.container-about {
  max-width: 114rem;
  margin: 0 auto;
}

.about-center {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 3rem 5rem;
}

.title-about {
  margin: 4rem 0 7rem 0;
  text-align: center;
}

.title-about h1 {
  font-size: 3rem;
  display: inline-block;
  position: relative;
  z-index: 0;
}

.title-about h1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20%;
  transform: translate(-50%, -50%);
  background-color: #dd9a05;
  width: 50%;
  height: 0.4rem;
  z-index: 1;
}

.left img {
  height: 40rem;
  max-width: 35rem;
  object-fit: cover;
}


.right-about h1 {
  margin-bottom: 2rem;
}

.right-about p {
  line-height: 2;
  margin-bottom: 2rem;
  color: #333;
}

.right-about h3 {
  margin-bottom: 1rem;
}

.right-about h1 span {
  color: #dd9a05;
}

@media only screen and (max-width: 1200px) {
  .container-about {
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 996px) {
  .right-about h1 {
    font-size: 2rem;
  }

  .right-about p {
    font-size: 1.5rem;
  }

  a.btn {
    padding: 0.7rem 1.8rem;
  }

  .left img {
    height: 40rem;
    max-width: 25rem;
  }
}

@media only screen and (max-width: 768px) {
  .about-center {
    grid-template-columns: 1fr;
    gap: 3rem 0rem;
  }

  .left {
    text-align: center;
  }

  .left img {
    height: 40rem;
    max-width: 90%;
  }
}

