/* header */
.section_masthead {
  position: relative;
  width: 100%;
  min-height: 122vh;
  padding: 2.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.section_masthead__circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(3, 250, 209, 0.87) 16%, rgba(13, 255, 162, 0.3) 30%), asset-url("couples.jpg"); 
  background-size: cover;
  background-position-y: 1.1rem;
  background-repeat: no-repeat;
  clip-path: circle(58.9% at 101% 65%);
}

.section_masthead__redondo {
  position: absolute;
  top: 18.7%;
  left: 6.8%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(49,255,128,1) 46%, rgba(122,236,89,0.700717787114846) 55%);
  clip-path: circle(9.2% at 50% 50%);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_masthead__redondo .img-redondo{
  width: 180px;
  height: 94px;
}

.section_masthead__redondo-2{
  position: absolute;
  top: 19.0%;
  left: 6.7%;
  width: 100%;
  height: 100%;
  background: #fff;
  clip-path: circle(10.5% at 50% 50%);
}

.content_masthead {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content_masthead .textBox {
  position: relative;
  max-width: 37.5rem;
}

.textBox--h2{
  color: rgba(14, 14, 14, 0.945);
  font-size: 3em;
  margin-bottom: 1rem;
  line-height: 1em;
  font-weight: bold;
}

.textBox--p {
  color: rgba(14, 14, 14, 0.945);
  max-width: 568px;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 180px;
  height: 500px;
  display: flex;
  justify-content: center;
}

.content_masthead .imgBox {
  width: 500px;
  display: flex;
  justify-content: flex-end;
}

.content_masthead .imgBox img {
  max-width: 150px;
}

.swiper-slide img {
  position: absolute;
  bottom: 0;
  max-height: 100%;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: none;
}

.curve-upper{
  position: absolute;
  width: 100%;
  bottom: -31%;
}

.bg-modify{
  background-image: linear-gradient(
      180deg,
      rgb(3, 250, 209) 16%,
      rgba(13, 255, 162, 0.3) 30%,
    );
  padding-bottom: 4rem !important;
  padding-top: 2rem !important;  
}

.fa-inverse{
  background-image: linear-gradient(to right, #d5ce6f, #fcacff) !important;
  -webkit-background-clip: text !important;
  color: transparent !important;
}

@media only screen and (max-width: 991px) {
  .section_masthead {
    padding: 9.375rem 2.5rem;
    margin-bottom: 2.5rem;
  }

  .content_masthead {
    flex-direction: column;
  }

  .content_masthead .textBox,
  .content_masthead .imgBox {
    max-width: 100%;
  }
  
  .curve-upper{
    display: none;
  }

  .swiper-slide {
    height: 300px;
  }

  .section_masthead__redondo{
    display: none;
  }
  
  .section_masthead__redondo .img-redondo{
    display: none;
  }
  
  .section_masthead__redondo-2{
    display: none;
  }
}


@media only screen and (min-width: 615px) {

}
