<div class="pricing-table-container">
  <div class="pricing-table px-lg-4 pt-5">
    <div class="pricing-card" data-aos="fade-up" data-aos-duration="2000">
      <h3 class="pricing-card-header">Meo</h3>
      <div class="price"><sup>$</sup>30<span>/MO</span></div>

      <ul>
        <li>
          <i class="fas fa-laptop"></i>
          <strong>120 Canais</strong><br>
          Sem MEObox
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>100/100 Mbps</strong><br>
          Download/upload
        </li>

        <li>
          <i class="fas fa-mobile-alt"></i>
          <strong>Chamadas inclu&iacute;das</strong><br>
          <span>
            Redes Fixas nacionais 24h + 50 destinos<br>
            internacionais (noite, 1.000 min)
          </span>
        </li>
      </ul>

      <%= link_to "adira j치!", new_contact_path(operator: "MEO"), remote: true, class: "text-uppercase order-btn order-btn", role: "button" %>
    </div>

    <div class="pricing-card pricing-card-nos" data-aos="fade-down" data-aos-duration="2000">
      <h3 class="pricing-card-header pricing-card-header-nos">Nos</h3>
      <div class="price price-nos"><sup>$</sup>15<span>/MO</span></div>

      <ul>
        <li>
          <i class="fas fa-laptop"></i>
          <strong>120 Canais</strong><br>
          Sem MEObox
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>100/100 Mbps</strong><br>
          Download/upload
        </li>

        <li>
          <i class="fas fa-mobile-alt"></i>
          <strong>Chamadas inclu&iacute;das</strong><br>
          <span>
            Redes Fixas nacionais 24h + 50 destinos<br>
            internacionais (noite, 1.000 min)
          </span>
        </li>
      </ul>

      <%= link_to "adira j치!", new_contact_path(operator: "NOS"), remote: true, class: "text-uppercase order-btn order-btn-nos", role: "button" %>
    </div>

    <div class="pricing-card pricing-card-vodafone" data-aos="fade-down" data-aos-duration="2000">
      <h3 class="pricing-card-header pricing-card-header-vodafone">Vodafone</h3>
      <div class="price price-vodafone"><sup>$</sup>80<span>/MO</span></div>

      <ul>
        <li>
          <i class="fas fa-laptop"></i>
          <strong>120 Canais</strong><br>
          Sem MEObox
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>100/100 Mbps</strong><br>
          Download/upload
        </li>

        <li>
          <i class="fas fa-mobile-alt"></i>
          <strong>Chamadas inclu&iacute;das</strong><br>
          <span>
            Redes Fixas nacionais 24h + 50 destinos<br>
            internacionais (noite, 1.000 min)
          </span>
        </li>
      </ul>

      <%= link_to "adira j치!", new_contact_path(operator: "VODAFONE"), remote: true, class: "text-uppercase order-btn order-btn-vodafone", role: "button" %>
    </div>

    <div class="pricing-card pricing-card-nowo" data-aos="fade-up" data-aos-duration="2000">
      <h3 class="pricing-card-header pricing-card-header-nowo">Nowo</h3>
      <div class="price price-nowo"><sup>$</sup>50<span>/MO</span></div>

      <ul>
        <li>
          <i class="fas fa-laptop"></i>
          <strong>120 Canais</strong><br>
          Sem MEObox
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>100/100 Mbps</strong><br>
          Download/upload
        </li>

        <li>
          <i class="fas fa-mobile-alt"></i>
          <strong>Chamadas inclu&iacute;das</strong><br>
          <span>
            Redes Fixas nacionais 24h + 50 destinos<br>
            internacionais (noite, 1.000 min)
          </span>
        </li>
      </ul>

      <%= link_to "adira j치!", new_contact_path(operator: "NOWO"), remote: true, class: "text-uppercase order-btn order-btn-nowo", role: "button" %>
    </div>
  </div>
</div>
