<nav class="navbar navbar-fixed navbar-expand-lg navbar-mainbg navbar-fixed-top">
  <%# /put </a> %>
  <%# <a class="navbar-brand navbar-logo" href="#"><%= image_tag 'logo_meo_preto.png' %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%= render "shared/pacotes_meo_ul" if current_page?(pacotes_pacotes_meo_path) %>
  </div>
</nav>
