<div class="pricing-table-container">
  <div class="pricing-table py-3">
    <div class="pricing-card pricing-card-vodafone" data-aos="fade-down" data-aos-duration="2000">
      <h3 class="pricing-card-header-vodafone-17 pricing-card-header pricing-card-header-vodafone">Fibra 2 Plus</h3>
      <div class="price price-vodafone"><sup>€</sup>25,9<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 30/3 Mbps</strong><br>
          Velocidade Garantida<br>
          Smart Router<br>
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ Fixa - Chamadas inclu&iacute;das</strong><br>
          Para a rede fixa e 31 destinos internacionais<br>
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(package_id: @vodafone_packages.third.packages.first.id), remote: true, class: "text-uppercase order-btn order-btn order-btn-vodafone", role: "button" %>
    </div>

    <div class="pricing-card pricing-card-vodafone" data-aos="fade-up" data-aos-duration="2000">
      <h3 class="pricing-card-header-vodafone-17 pricing-card-header pricing-card-header-vodafone">Fibra 2 Gold</h3>
      <div class="price price-vodafone"><sup>€</sup>27,9<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 100/100 Mbps</strong><br>
          Velocidade Garantida<br>
          Smart Router<br>
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ Fixa - Chamadas inclu&iacute;das</strong><br>
          Para a rede fixa e 31 destinos internacionais<br>
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(package_id: @vodafone_packages.third.packages.second.id), remote: true, class: "text-uppercase order-btn order-btn order-btn-vodafone", role: "button" %>
    </div>
  </div>
</div>
