<div class="pricing-table-container">
  <div class="pricing-table py-5">
    <div class="pricing-card pricing-card-vodafone" data-aos="fade-down" data-aos-duration="2000">
      <h3 class="pricing-card-header pricing-card-header-vodafone">Fibra 3 Play</h3>
      <div class="price price-vodafone"><sup>€</sup>40,9<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 140 Canais | VBoxPro 4K</strong><br>
          <strong>Amazon Prime Video</strong> durante 24 meses<br>
          <strong>HBO Portugal</strong> durante 24 meses<br>
          <strong>FOX+</strong> durante 24 meses<br>
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 500/100 Mbps</strong><br>
          Velocidade Garantida<br>
          Smart Router 2.0<br>
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ Fixa - Chamadas inclu&iacute;das</strong><br>
          Para a rede fixa e 31 destinos internacionais<br>
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(package_id: @vodafone_packages.second.packages.first.id), remote: true, class: "text-uppercase order-btn order-btn order-btn-vodafone", role: "button" %>
    </div>

    <div class="pricing-card pricing-card-vodafone" data-aos="fade-up" data-aos-duration="2000">
      <h3 class="pricing-card-header pricing-card-header-vodafone">Fibra 3 Gold</h3>
      <div class="price price-vodafone"><sup>€</sup>36,9<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 140 Canais | VBoxPro 4K</strong><br>
          <strong>Amazon Prime Video</strong> durante 6 meses<br>
          <strong>HBO Portugal</strong> durante 24 meses<br>
          <strong>FOX+</strong> durante 24 meses<br>
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 200/100 Mbps</strong><br>
          Velocidade Garantida<br>
          Smart Router<br>
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ Fixa - Chamadas inclu&iacute;das</strong><br>
          Para a rede fixa e 31 destinos internacionais<br>
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(package_id: @vodafone_packages.second.packages.second.id), remote: true, class: "text-uppercase order-btn order-btn order-btn-vodafone", role: "button" %>
    </div>

    <div class="pricing-card pricing-card-vodafone" data-aos="fade-down" data-aos-duration="2000">
      <h3 class="pricing-card-header pricing-card-header-vodafone">Fibra 3 Plus</h3>
      <div class="price price-vodafone"><sup>€</sup>34,9<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 140 Canais | Box HD</strong><br>
          <strong>HBO Portugal</strong> durante 3 meses<br>
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 100/100 Mbps</strong><br>
          Velocidade Garantida<br>
          Smart Router<br>
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ Fixa - Chamadas inclu&iacute;das</strong><br>
          Para a rede fixa e 31 destinos internacionais<br>
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(package_id: @vodafone_packages.second.packages.third.id), remote: true, class: "text-uppercase order-btn order-btn order-btn-vodafone", role: "button" %>
    </div>

    <div class="pricing-card pricing-card-vodafone" data-aos="fade-down" data-aos-duration="2000">
      <h3 class="pricing-card-header pricing-card-header-vodafone">Fibra 3 Light</h3>
      <div class="price price-vodafone"><sup>€</sup>30,9<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 100 Canais</strong><br>
          Não inclui Tv Box
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 30/30 Mbps</strong><br>
          Velocidade Garantida<br>
          Smart Router<br>
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ Fixa - Chamadas inclu&iacute;das</strong><br>
          Para a rede fixa e 31 destinos internacionais<br>
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(package_id: @vodafone_packages.second.packages.fourth.id), remote: true, class: "text-uppercase order-btn order-btn order-btn-vodafone", role: "button" %>
    </div>
  </div>
</div>
