<main>
  <section class="menu-pricing p-0">

    <%= render 'shared/nav_promo' %>

    <section class="hero--main">
      <div class="fibra-meo ml-5">
        <h2 class="heading-primary--main fibra-meo-title">Samsung Galaxy S21</h2>
        <p class="heading-primary--sub mb-5 fibra-meo-subtitle">com exclusivo de 12 meses de 5G à máxima velocidade</p>
      </div>

      <div id="services"></div>
    </section>

    <div class="title title-meo-pacotes my-0 pt-5" style="background-color:#e4eefa; ">
      <h2 class="heading-primary--main">
        Os melhores pacotes para sua casa <span class="meo-interro" data-aos="fade-down">!!!</span>
      </h2>
    </div>

    <div id="result-menu" class="bg-fibra-meo">
      <%= render "pacotes/pacotes_vodafone/telemovel"%>
    </div>
  </section>
</main>

<%= render 'pages/footer' %>
