<section class="page-section pt-4" id="contact">
  <div class="title">
    <h2 class="heading-primary--sub text-white">Contate-Nos
    </h2>
    <div class="textBox--h3 my-3" data-aos="fade-down" data-aos-duration="5000"><span class="typing"></span></div>
    <h6 class="heading-primary--main text-light">
      Entre em contato atrav&eacute;s dos nossos meios dispon&iacute;veis ou ligue-nos, estaremos sempre prontos a atendê-lo
    </h6>
  </div>

  <div class="contact-in">
    <div class="contact-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2140.206629551011!2d-7.915968971714479!3d40.6583393077326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd23364d407f8e07%3A0xf5c1f7374bf66877!2zQ2zDrW5pY2EgTcOpZGljYSBEZW50w6FyaWEgR3LDo28gVmFzY28!5e0!3m2!1ses!2sve!4v1608395036775!5m2!1ses!2sve"
        width="100%" height="auto" frameborder="0" style="border:0" allowfullscreen>
      </iframe>
    </div>

    <div id="contact_clear" class="contact-form pb-0">
      <h5 class="heading-primary--sub text-secondary">
        Saiba qual o melhor pacote para si
      </h5>
      <%= render 'contacts/form' %>
    </div>
  </div>
</section>
