<div id="cajacookies" class="cajacookies d-block d-lg-inline-flex ">
  <p class="">
    Usamos cookies para lhe proporcionar uma melhor experiência no nosso site. Se você continuar a usar nosso site, presumimos que concorda com isso.
  </p>

  <p class="mt-2 mt-md-0">
    <a href="" class='btn btn-light pull-right mt-2 mt-md-0' onclick='aceptarCookies()'>Aceitar</a>

    <%= link_to 'política de privacidade', termos_path, class:'btn btn-light pull-right ml-lg-1 mt-2 mt-md-0', target: "_blank" %>
  </p>
</div>
