<div id="div-cookies" style="display: none; cursor: auto;">
  <p>
    Usamos cookies para lhe proporcionar uma melhor experiência no nosso site. Se você continuar a usar nosso site, presumimos que concorda com isso.
  </p>

  <p class="mt-2 mt-md-0">
    <button type="button" class="btn-cookie pull-right mt-2 mt-md-0 ml-0 ml-lg-3" onfocus="acceptCookies()">
      Aceitar
    </button>

    <%= link_to 'política de privacidade', termos_path, class:'btn-cookie pull-right ml-lg-1 mt-2 mt-md-0', target: "_blank", rel: "noopener" %>
  </p>
</div>
