<!-- Header -->
<%# <header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome To Our Studio!</div>
            <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
        </div>a
    </div>
</header>
%>

<section class="section_masthead">
  <%# Couples %>
  <div class="section_masthead__circle"></div>

  <%# circle into couples %>
  <div class="section_masthead__redondo">
    <%= image_tag '800mbps.png', class:"img-redondo" %>
  </div>
  <div class="section_masthead__redondo-2"></div>
  
  <%# Figures up animation %>
  <%# <div class="figure-h">
    <div class='white'>
      <div class='squares'>
        <div class='square'></div>
        <div class='square'></div>
        <div class='square'></div>
        <div class='square'></div>
        <div class='square'></div>
        <div class='square'></div>
        <div class='square'></div>
        <div class='square'></div>
        <div class='square'></div>
        <div class='square'></div>
      </div>
    </div>
  </div> %>

  <%# Content title subtitle and button %>
  <div class="content_masthead">
    <div class="textBox">
      <h3 class="textBox--h2">You deserve ultra</h3>
      <h3 class="textBox--h2">Taste the Feeling</h3>
      
      <h3 class="second-h">tasted the feeling</h3>
          
      <p class="textBox--p">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
        mattis, pulvinar dapibus leo.
      </p>

      <%= link_to "Learn more", new_contact_path, remote: true, class: "btn btn--white btn--animated btn-dark", role: "button" %>  
    </div>
  </div>
</section>

<%# Waves %>
<div class="curve-upper">
  <div style="height: 150px; overflow: hidden;" >
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L504.22,105.09 L-3.67,94.23 Z" style="fill: rgba(3, 250, 209, 1);"></path>
    </svg>
  </div>
</div>

<%# Distint services under waves and form modals press button %>
<%= render "pages/experience" %>
<%= render "contacts/modal_contacts" %>