<!-- Header -->
<%# <header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome To Our Studio!</div>
            <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
        </div>a
    </div>
</header>
%>

<section class="section_masthead">
  <div class="section_masthead__circle"></div>
  <div class="section_masthead__redondo">
    <%= image_tag '800mbps.png', class:"img-redondo" %>
  </div>
  <div class="section_masthead__redondo-2"></div>
  <div class="figure-h">
    <div class='white'>
      <div class='squares'>
        <div class='square'></div>
        <div class='square'></div>
        <div class='square'></div>
        <div class='square'></div>
        <div class='square'></div>
        <div class='square'></div>
        <div class='square'></div>
        <div class='square'></div>
        <div class='square'></div>
        <div class='square'></div>
      </div>
    </div>
    
    <div class='grey'></div>
  </div>

  <div class="promo_social">
    <a href="#">
      <img src="images/logo.png" class="logo" alt="">
    </a>

    <div class="toggle" onclick="ToggleMenu()"></div>

    <ul class="navigation">
      <li><a>Home</a></li>
      <li><a>Menu</a></li>
      <li><a>What's new</a></li>
      <li><a>Contact</a></li>
    </ul>
  </div>

  <div class="content px-lg-0">
    <div class="textBox">
      <h3 class="textBox--h2">You deserve ultra</h3>
      <h3 class="textBox--h2">Taste the Feeling</h3>
      
      <h3 class="second-h">tasted the feeling</h3>
          
      <p class="textBox--p">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
        mattis, pulvinar dapibus leo.
      </p>
      
      <%= link_to "Learn more", "#", href: "#services", class: "btn btn--white btn--animated btn-dark", role: "button" %>  
    </div>
  </div>

</section>

<div class="curve-upper">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="rgba(3, 250, 209, 1)" fill-opacity="1" d="M0,256L60,240C120,224,240,192,360,197.3C480,203,600,245,720,250.7C840,256,960,224,1080,176C1200,128,1320,64,1380,32L1440,0L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
  </svg>
</div>

<%= render "pages/experience" %>