<div class="social d-none d-md-block">
  <ul>
    <li>
      <a class="facebook" target="_blank" href="https://www.facebook.com/Lu%C3%ADs-Castro-Comercial-MEO-103347814777629">
        <i class="icon-facebook fab fa-facebook-f a22"></i>
      </a>
    </li>

    <li>
      <a class="instagram" target="_blank" href="#">
        <i class="fab fa-instagram"></i>
      </a>
    </li>

    <li>
      <a class="gmail" target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=luismarquesc93@gmail.com">
        <i class="far fa-envelope"></i>
      </a>
    </li>

    <li>
      <p class="static" href="#" onclick="return false;">
        <i class="fab fa-linkedin-in"></i>
      </p>
    </li>
  </ul>
</div>
