<div class="social">
  <ul>
    <li class="facebook">
      <div class="facebook">
        <a target="_blank" href="https://www.facebook.com/Lu%C3%ADs-Castro-Comercial-MEO-103347814777629">
          <i class="icon-facebook fab fa-facebook-f"></i>
        </a>
      </div>
    </li>

    <li class="instagram">
      <div class="instagram">
        <a target="_blank" href="your link here"><i class="fab fa-instagram"></i></a>
      </div>
    </li>

    <li>
      <div class="gmail">
        <a target="_blank" href="your link here"><i class="far fa-envelope"></i></a>
      </div>
    </li>

    <li>
      <div class="linkedin">
        <a target="_blank" href="your link here"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </li>
  </ul>
</div>
