<section class="bg-dark" id="services">
  <div class="contenedor">
		<div class="carousel_main">
			<div class="carousel__contenedor_main">
				<button aria-label="Anterior" class="carousel__anterior_main">
					<i class="fas fa-chevron-left"></i>
				</button>

				<div class="carousel__lista_main">
					<div class="carousel__elemento_main">
						<div class="pricingTable">
							<div class="pricingTable-header">
								<div class="price-value">
									<span class="amount">$9.99</span>
									<span class="duration">Per Month</span>
								</div>
								
								<h3 class="title">Standard</h3>
							</div>
							
							<div class="pricing-content">
								<ul>
									<li>50GB Disk Space</li>
									<li>50 Email Accounts</li>
									<li>50GB Bandwidth</li>
									<li class="disable">15 Subdomains</li>
									<li class="disable">15 Subdomains</li>
								</ul>
							</div>
							
							<div class="pricingTable-signup">
									<a href="#">Sign Up</a>
							</div>
            </div>
					</div>

					<div class="carousel__elemento_main">
            <div class="pricingTable pink">
              <div class="pricingTable-header">
                <div class="price-value">
                  <span class="amount">$19.99</span>
                  <span class="duration">Per Month</span>
                </div>
                <h3 class="title">Business</h3>
              </div>
              
							<div class="pricing-content">
                <ul>
                  <li>50GB Disk Space</li>
                  <li>50 Email Accounts</li>
                  <li>50GB Bandwidth</li>
                  <li>15 Subdomains</li>
                  <li class="disable">15 Subdomains</li>
                </ul>
              </div>
              
							<div class="pricingTable-signup">
                  <a href="#">Sign Up</a>
              </div>
            </div>
					</div>

					<div class="carousel__elemento_main">
            <div class="pricingTable pink">
              <div class="pricingTable-header">
                <div class="price-value">
                  <span class="amount">$19.99</span>
                  <span class="duration">Per Month</span>
                </div>
                <h3 class="title">Business</h3>
              </div>
              
							<div class="pricing-content">
                <ul>
                  <li>50GB Disk Space</li>
                  <li>50 Email Accounts</li>
                  <li>50GB Bandwidth</li>
                  <li>15 Subdomains</li>
                  <li class="disable">15 Subdomains</li>
                </ul>
              </div>
              
							<div class="pricingTable-signup">
                  <a href="#">Sign Up</a>
              </div>
            </div>
					</div>

					<div class="carousel__elemento_main">
            <div class="pricingTable pink">
              <div class="pricingTable-header">
                <div class="price-value">
                  <span class="amount">$19.99</span>
                  <span class="duration">Per Month</span>
                </div>
                <h3 class="title">Business</h3>
              </div>
              
							<div class="pricing-content">
                <ul>
                  <li>50GB Disk Space</li>
                  <li>50 Email Accounts</li>
                  <li>50GB Bandwidth</li>
                  <li>15 Subdomains</li>
                  <li class="disable">15 Subdomains</li>
                </ul>
              </div>
              
							<div class="pricingTable-signup">
                  <a href="#">Sign Up</a>
              </div>
            </div>
					</div>
					
					<div class="carousel__elemento_main">
            <div class="pricingTable pink">
              <div class="pricingTable-header">
                <div class="price-value">
                  <span class="amount">$19.99</span>
                  <span class="duration">Per Month</span>
                </div>
                <h3 class="title">Business</h3>
              </div>
              
							<div class="pricing-content">
                <ul>
                  <li>50GB Disk Space</li>
                  <li>50 Email Accounts</li>
                  <li>50GB Bandwidth</li>
                  <li>15 Subdomains</li>
                  <li class="disable">15 Subdomains</li>
                </ul>
              </div>
              
							<div class="pricingTable-signup">
                  <a href="#">Sign Up</a>
              </div>
            </div>
					</div>
				</div>

				<button aria-label="Siguiente" class="carousel__siguiente_main">
					<i class="fas fa-chevron-right"></i>
				</button>
			</div>

			<div role="tablist" class="carousel__indicadores_main"></div>
		</div>
	</div>
</section>