<section class="bg-dark" id="services">
  <div class="contenedor">
		<div class="carousel_main">
			<div class="carousel__contenedor_main">
				<button aria-label="Anterior" class="carousel__anterior_main">
					<i class="fas fa-chevron-left"></i>
				</button>

				<div class="carousel__lista_main">
					<div class="carousel__elemento_main">
						<img src="unsplash/2.png" alt="Rock and Roll Hall of Fame">
						<p>Rock and Roll Hall of Fame</p>
					</div>

					<div class="carousel__elemento_main">
						<img src="unsplash/3.png" alt="Constitution Square - Tower I">
						<p>Constitution Square - Tower I</p>
					</div>

					<div class="carousel__elemento_main">
						<img src="unsplash/4.png" alt="Empire State Building">
						<p>Empire State Building</p>
					</div>

					<div class="carousel__elemento_main">
						<img src="unsplash/5.png" alt="Harmony Tower">
						<p>Harmony Tower</p>
					</div>

					<div class="carousel__elemento_main">
						<img src="unsplash/6.png" alt="Empire State Building">
						<p>Empire State Building</p>
					</div>

					<div class="carousel__elemento_main">
						<img src="unsplash/7.png" alt="Harmony Tower">
						<p>Harmony Tower</p>
					</div>

					<div class="carousel__elemento_main">
						<img src="unsplash/8.png" alt="Empire State Building">
						<p>Empire State Building</p>
					</div>

					<div class="carousel__elemento_main">
						<img src="unsplash/9.png" alt="Harmony Tower">
						<p>Harmony Tower</p>
					</div>
				</div>

				<button aria-label="Siguiente" class="carousel__siguiente_main">
					<i class="fas fa-chevron-right"></i>
				</button>
			</div>

			<div role="tablist" class="carousel__indicadores_main"></div>
		</div>
	</div>
</section>