<section class="bg-light page-section section-portfolio" id="portfolio">
	<div class="container">
		<div class="circle"></div>

		<div class="row content">
			<div class="col-12 col-lg-7 textBox">
					<div class="texBox--phrase">
						<h2 class= "texBox--title" id="textBoxSlogan">O futuro é emocionante. Ready?<span id="letterSlogan" class="letter ml-3">Vodafone</span></h2>
					</div>
					
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis libero beatae laborum dolore dicta!
					Tenetur aperiam numquam illum. Delectus, perferendis cumque illum a eligendi ut earum accusantium recusandae
					similique reprehenderit.</p>

					<a href="" class="btn btn--portfolio btn--white btn--animated">Learn More</a>
			</div>

			<div class="d-none d-lg-block col-lg-5 imgBox">
					<img src="unsplash/vodafone-woman.png" alt="" class="starbucks">
			</div>
		</div>

<!--<span>-->
		<ul class="thumb"> 
			<div>
				<li>
					<img src="unsplash/vodafone1.png" onclick="imgSlider('unsplash/vodafone-woman.png', '#e43220')">
				</li>

				<li>
					<img src="unsplash/nowo.png" onclick="imgSlider('unsplash/supermanq.png', '#f14626')">
				</li>
				
				<li>
					<img src="unsplash/meo.png" onclick="imgSlider('unsplash/kunfu.png', '#7e5a25')">
				</li>
				
				<li>
					<img src="unsplash/nos.png" onclick="imgSlider('unsplash/phone.png', '#969695')">
				</li>
			</div>
		</ul>

		<div class="sci">
			<a href="https://www.facebook.com/Lu%C3%ADs-Castro-Comercial-MEO-103347814777629"><i class="fab fa-facebook-f"></i></a>
			<a href="your link here"><i class="fab fa-instagram"></i></a>
			<a href="your link here"><i class="fab fa-twitter"></i></a>
		</div>
	</div>
</section>