<section class="bg-light section-portfolio pt-0 pt-md-5" id="portfolio">
  <div class="container mx-lg-4">
    <div class="circle"></div>

    <div class="content">
      <div class="textBox">
        <div class="texBox--phrase">
          <h2 class= "texBox--title" id="textBoxSlogan" data-aos="fade-right" data-aos-duration="2000">O futuro é emocionante. Ready?<span id="letterSlogan" class="letter ml-3">Vodafone</span></h2>
        </div>

        <p data-aos="fade-up" data-aos-duration="3000">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis libero beatae laborum dolore dicta!
          Tenetur </p>
        <a href="" class="btn btn--portfolio btn--white btn--animated" data-aos="fade-down" data-aos-duration="3000">adira j&aacute;!</a>
      </div>

      <div class="imgBox" data-aos="fade-down" data-aos-duration="3000">
        <img src="unsplash/vodafone-woman.png" alt="" class="starbucks">
      </div>
    </div>

    <ul class="thumb">
      <div class="thumb-container">
        <li>
          <%= image_tag 'meo.png', onclick:"imgSlider('unsplash/kunfu.png', '#7e5a25')" %>
        </li>

        <li>
          <%= image_tag 'nos_logo.png', onclick: "imgSlider('unsplash/phone.png', '#969695')" %>
        </li>

        <li>
          <%= image_tag 'vodafone_logo.png', onclick:"imgSlider('unsplash/vodafone-woman.png', '#e43220')" %>
        </li>

        <li>
          <%= image_tag 'nowo.png', onclick:"imgSlider('unsplash/supermanq.png', '#f14626')" %>
        </li>
      </div>
    </ul>

    <div class="sci-container">
      <div class="sci">
        <a href="https://www.facebook.com/Lu%C3%ADs-Castro-Comercial-MEO-103347814777629"><i class="fab fa-facebook-f"></i></a>
        <a href="your link here"><i class="fab fa-instagram"></i></a>
        <a href="your link here"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </div>

</section>
