<!-- About-->
<section class="section-about page-section bg-about border-experience" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="about-img">
          <%= image_tag 'about_tringle.png', class:"shape" %>
          <%= image_tag 'about_man.png', class: "man" %>
        </div>
      </div>
      <br>

      <div class="col-md-7 about-right">
        <h2 class="color-3 font-weight-bold"><b>Quem sou?</b>
        </h2>

        <p class="p-first text-white text-justify">
          O meu nome &eacute; Lu&iacute;s Castro e o meu objetivo &eacute; <strong class="resalt">ajudar-lhe a contratar a solução mais
            adequada às suas necessidades</strong>. Como? Apresentando soluções com propostas de v&aacute;rias
          operadoras, com os <strong class="resalt">melhores preços do mercado e ofertas exclusivas</strong>.
          Estarei inteiramente ao seu dispor para o ajudar a realizar a melhor escolha para si, com
          o compromisso de o<strong class="resalt"> informar das melhores campanhas do mercado</strong> mantendo
          primordialmente um acompanhamento de qualidade durante todo o processo.
        </p>

        <p class="text-white text-justify">
          A minha base de trabalho &eacute;, a cima de tudo, <strong class="resalt"> a transparência e a credibilidade</strong> para
          fomentar uma &oacute;tima relação entre o cliente e o gestor comercial, com o intuito de
          sempre que necessitar, tenha ao seu dispor <strong class="resalt">um profissional de confiança na área das
            telecomunicações.</strong>
        </p>
      </div>

    </div>
  </div>
</section>

<div class="wave-vision">
  <svg class="wave-promo-vision" viewBox="0 0 1294 121" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="#fff" d="M 0 0 C 329 0 329 110 658 110 L 658 110 L 658 0 L 0 0 Z" stroke-width="0"></path> <path fill="#fff" d="M 657 110 C 975.5 110 975.5 0 1294 0 L 1294 0 L 1294 0 L 657 0 Z" stroke-width="0"></path> </svg>
</div>
