<section class="section-about page-section bg-about border-experience pt-5 pb-0" id="about">
  <div class="container">
    <div class="jumbotron p-1 -md-5 text-white rounded bg-dark" data-aos="flip-down" data-aos-duration="2000">
      <div class="">
        <h2 class="mt-3 pl-3 display-4 font-italic mb-3 text-md-center">Quem sou?</h2>

        <p class="text-white text-justify lead mb-3 px-3">
          O meu nome &eacute; <strong class="font-weight-bold">Lu&iacute;s Castro</strong> e o meu objetivo &eacute;
          <strong class="font-weight-bold">ajudar a realizar a melhor escolha para si</strong>,
          com o compromisso de o informar das <strong class="font-weight-bold">melhores campanhas do mercado</strong>
          mantendo primordialmente um <strong class="font-weight-bold">acompanhamento
            de qualidade</strong> durante todo o processo.
        </p>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <div class="card flex-md-row mb-4 border-right border-info border-top-0 border-left-0" data-aos="flip-right"
          data-aos-duration="2000">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-secondary">Missão</strong>
            <h3 class="mb-0 text-dark">Nossa missão</h3>
            <p class="mb-1 text-muted">À sua disposição</p>

            <p class="card-text text-justify">
              <strong class="resalt">Ajudar-lhe</strong> a contratar a solução mais adequada às suas necessidades.
              <strong class="resalt">Como?</strong> Apresentando soluções com propostas de v&aacute;rias
              operadoras, com os <strong class="resalt">melhores preços do mercado e ofertas exclusivas</strong>.
            </p>
          </div>

          <%= image_tag 'family-tech', alt: "missao", class:"image-vision card-img-right flex-auto w-100 d-none d-md-block"  %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card flex-md-row mb-4 border-right border-dark border-top-0 border-left-0" data-aos="flip-left"
          data-aos-duration="2000">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-secondary">Visão</strong>
            <h3 class="mb-0 text-dark">Nossa base de trabalho</h3>

            <p class="mb-1 text-muted">Escolha as melhores ofertas</p>

            <p class="card-text text-justify">
              Apresentamos a <strong class="resalt">transparência e a credibilidade</strong> para
              fomentar uma &oacute;tima relação entre o cliente e o gestor comercial, com o intuito de
              sempre que necessitar, tenha ao seu dispor <strong class="resalt">um profissional de confiança na
                &aacute;rea das
                telecomunicações.</strong>
            </p>
          </div>

          <%= image_tag 'work', alt: "visao", class:"image-vision card-img-right flex-auto w-100 d-none d-md-block"  %>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="wave-vision">
  <svg class="wave-promo-vision" viewBox="0 0 1294 121" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink">
    <path fill="#fff" d="M 0 0 C 329 0 329 110 658 110 L 658 110 L 658 0 L 0 0 Z" stroke-width="0"></path>
    <path fill="#fff" d="M 657 110 C 975.5 110 975.5 0 1294 0 L 1294 0 L 1294 0 L 657 0 Z" stroke-width="0"></path>
  </svg>
</div>