<div class="nav-bottom">
  <div class="popup-whatsapp fadeIn">
    <div class="closeDiv">
      <button type="button" class="closePopup">
        <i class="fas fa-times text-white"></i>
      </button>
    </div>

    <div class="content-whatsapp -top">
      <p>
        <%= image_tag 'secretary.png', class:"mr-3", width:"50px" %>Ol&aacute;, como podemos ajudar?
      </p>
    </div>

    <div class="content-whatsapp -bottom">
      <input class="whats-input" id="whats-in" type="text" Placeholder="Enviar mensagem..." />

      <button class="send-msPopup" id="send-btn" type="button">
        <i class="fas fa-share text-white"></i>
      </button>
    </div>
  </div>

  <button type="button" id="whats-openPopup" class="whatsapp-button">
    <div class="float">
      <i class="fa fa-whatsapp my-float"></i>
    </div>
  </button>

  <div class="circle-anime"></div>
</div>
