<a rel="attachment wp-att-107 slb_group[344] slb slb_internal"
  href="http://santasrecipies.com/myntra-model-5/4783157717_21b8d7199a_b/">
</a>

<div id="imgContnr">
  <a>
    <div><img></div>
  </a>
</div>


<div class="carousel__lista">
  <div class="carousel__elemento">
    <div class="team-member" data-aos="fade-down" data-aos-duration="3000">
      <%= image_tag 'header-1.jpeg' , class: "mx-auto" %>
    </div>
  </div>

  <div class="carousel__elemento">
    <div class="team-member" data-aos="fade-down" data-aos-duration="3000">
      <%= image_tag 'header-2.jpeg' , class: "mx-auto" %>
    </div>
  </div>

  <div class="carousel__elemento">
    <div class="team-member" data-aos="fade-down" data-aos-duration="3000">
      <%= image_tag 'header-3.jpeg' , class: "mx-auto" %>
    </div>
  </div>

  <div class="carousel__elemento">
    <div class="team-member" data-aos="fade-down" data-aos-duration="3000">
      <%= image_tag 'header-4.jpeg' , class: "mx-auto" %>
    </div>
  </div>
</div>