<section class="video-tutorial bg-gray" id="demo">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="section-title">
          <!-- section title -->
          <span class="subtitle">Live Demo</span>
          <h2 class="title">Awesome Design</h2>
        </div>
        <!-- //. sectoin title -->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="demo-wrapper">
          <h3 class="title">Style 01</h3>
          <div class="price-plan-wrapper">
            <div class="row">
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-1">
                  <div class="price-header">
                    <h3 class="title">Personal</h3>
                    <div class="price"><span class="dollar">$</span>10<span class="month">/Mo</span></div>
                  </div>

                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Order NOw <i class="fa fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-1">
                  <div class="price-header">
                    <h3 class="title">Business</h3>
                    <div class="price"><span class="dollar">$</span>10<span class="month">/Mo</span></div>
                  </div>

                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Order NOw <i class="fa fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-1">
                  <div class="price-header">
                    <h3 class="title">Enterprise</h3>
                    <div class="price"><span class="dollar">$</span>10<span class="month">/Mo</span></div>
                  </div>

                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Order NOw <i class="fa fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="price-plan-wrapper">
            <h3 class="title">Style 02</h3>
            <div class="row">
              <div class="col-lg-4  col-md-6">
                <div class="pricing-table-2">
                  <div class="price-header">
                    <div class="icon"><i class="fa fa-paper-plane"></i></div>
                    <h3 class="title">Personal</h3>
                    <div class="price"><span class="dollar">$</span>10<span class="month">/Mo</span></div>
                  </div>

                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Order NOw <i class="fa fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4  col-md-6">
                <div class="pricing-table-2">
                  <div class="price-header">
                    <div class="icon"><i class="fa fa-rocket"></i></div>
                    <h3 class="title">Business</h3>
                    <div class="price"><span class="dollar">$</span>10<span class="month">/Mo</span></div>
                  </div>

                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Order NOw <i class="fa fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4  col-md-6">
                <div class="pricing-table-2">
                  <div class="price-header">
                    <div class="icon"><i class="fa fa-paper-plane"></i></div>
                    <h3 class="title">Enterprise</h3>
                    <div class="price"><span class="dollar">$</span>10<span class="month">/Mo</span></div>
                  </div>

                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Order NOw <i class="fa fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="price-plan-wrapper">
            <h3 class="title ">Style 03</h3>
            <br>
            <div class="row">
              <div class="col-lg-4  col-md-6">
                <div class="pricing-table-3">
                  <div class="price-header">
                    <div class="icon"><i class="fa fa-paper-plane"></i></div>
                    <h3 class="title">Personal</h3>
                    <div class="price"><span class="dollar">$</span>10<span class="month">/Mo</span></div>
                  </div>

                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-3">
                  <div class="price-header">
                    <span class="pbadge">Most popular</span>
                    <div class="icon"><i class="fa fa-rocket"></i></div>
                    <h3 class="title">Business</h3>
                    <div class="price"><span class="dollar">$</span>10<span class="month">/Mo</span></div>
                  </div>

                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-3">
                  <div class="price-header">

                    <div class="icon"><i class="fa fa-paper-plane"></i></div>
                    <h3 class="title">Enterprise</h3>
                    <div class="price"><span class="dollar">$</span>10<span class="month">/Mo</span></div>
                  </div>

                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="price-plan-wrapper">
            <h3 class="title ">Style 04</h3>
            <div class="row">
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-4">
                  <div class="price-header">
                    <div class="icon"><i class="fa fa-paper-plane"></i></div>
                    <h3 class="title">Personal</h3>
                    <div class="price"><span class="dollar">$</span>10<span class="month">/Mo</span></div>
                  </div>

                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-4">
                  <div class="price-header">
                    <div class="icon"><i class="fa fa-rocket"></i></div>
                    <h3 class="title">Business</h3>
                    <div class="price"><span class="dollar">$</span>10<span class="month">/Mo</span></div>
                  </div>

                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-4">
                  <div class="price-header">

                    <div class="icon"><i class="fa fa-paper-plane"></i></div>
                    <h3 class="title">Enterprise</h3>
                    <div class="price"><span class="dollar">$</span>10<span class="month">/Mo</span></div>
                  </div>

                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="price-plan-wrapper">
            <h3 class="title ">Style 05</h3>
            <div class="row">
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-5">
                  <div class="price-header">
                    <div class="icon"><i class="fa fa-paper-plane"></i></div>
                    <h3 class="title">Personal</h3>
                    <div class="price"><span class="dollar">$</span>10<span class="month">/Mo</span></div>
                  </div>

                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-5">
                  <div class="price-header">
                    <div class="icon"><i class="fa fa-rocket"></i></div>
                    <h3 class="title">Business</h3>
                    <div class="price"><span class="dollar">$</span>10<span class="month">/Mo</span></div>
                  </div>

                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-5">
                  <div class="price-header">

                    <div class="icon"><i class="fa fa-paper-plane"></i></div>
                    <h3 class="title">Enterprise</h3>
                    <div class="price"><span class="dollar">$</span>10<span class="month">/Mo</span></div>
                  </div>

                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="price-plan-wrapper">
            <h3 class="title ">Style 06</h3>
            <div class="row">
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-6">
                  <div class="price-header">
                    <h3 class="title">Personal</h3>
                    <div class="price"><span class="dollar">$</span>10<span class="month">/Mo</span></div>
                  </div>

                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-6 bg-orange">
                  <div class="price-header">
                    <h3 class="title">Business</h3>
                    <div class="price"><span class="dollar">$</span>10<span class="month">/Mo</span></div>
                  </div>

                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-6">
                  <div class="price-header">

                    <h3 class="title">Enterprise</h3>
                    <div class="price"><span class="dollar">$</span>10<span class="month">/Mo</span></div>
                  </div>

                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="price-plan-wrapper">
            <h3 class="title ">Style 07</h3>
            <div class="row">
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-7 yellow">
                  <div class="price-header">
                    <h3 class="title">Personal</h3>
                    <div class="price">
                      <div class="top">
                        <span class="dollar">$</span>10
                      </div>
                      <span class="month">Month</span>
                    </div>
                  </div>
                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-7 green">
                  <div class="price-header">
                    <h3 class="title">Business</h3>
                    <div class="price">
                      <div class="top">
                        <span class="dollar">$</span>10
                      </div>
                      <span class="month">Month</span>
                    </div>
                  </div>
                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-7 red-pink">
                  <div class="price-header">
                    <h3 class="title">Enterprise</h3>
                    <div class="price">
                      <div class="top">
                        <span class="dollar">$</span>10
                      </div>
                      <span class="month">Month</span>
                    </div>
                  </div>
                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="price-plan-wrapper">
            <h3 class="title ">Style 08</h3>
            <div class="row">
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-8">
                  <div class="price-header">
                    <h3 class="title">Personal</h3>
                    <div class="price">
                      <span class="dollar">$</span>10<span class="month">/Mo</span>
                    </div>
                  </div>
                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-8 active">
                  <div class="price-header">
                    <span class="popular">Popular</span>
                    <h3 class="title">Business</h3>
                    <div class="price">
                      <span class="dollar">$</span>10<span class="month">/Mo</span>
                    </div>
                  </div>
                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-8">
                  <div class="price-header">
                    <h3 class="title">Enterprise</h3>
                    <div class="price">
                      <span class="dollar">$</span>10<span class="month">/Mo</span>
                    </div>
                  </div>
                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="price-plan-wrapper">
            <h3 class="title ">Style 09</h3>
            <div class="row">
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-9">
                  <div class="icon-area">
                    <i class="flaticon-trip"></i>
                  </div>
                  <div class="price-header">
                    <h3 class="title">Personal</h3>
                    <div class="price">
                      <span class="dollar">$</span>10<span class="month">/Mo</span>
                    </div>
                  </div>
                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-9 active">
                  <div class="icon-area">
                    <i class="flaticon-origami"></i>
                  </div>
                  <div class="price-header">
                    <h3 class="title">Business</h3>
                    <div class="price">
                      <span class="dollar">$</span>10<span class="month">/Mo</span>
                    </div>
                  </div>
                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-9">
                  <div class="icon-area">
                    <i class="flaticon-rocket"></i>
                  </div>
                  <div class="price-header">
                    <h3 class="title">Enterprise</h3>
                    <div class="price">
                      <span class="dollar">$</span>10<span class="month">/Mo</span>
                    </div>
                  </div>
                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="price-plan-wrapper">
            <h3 class="title ">Style 10</h3>
            <div class="row">
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-10">
                  <div class="icon-area">
                    <i class="flaticon-trip"></i>
                    <h3 class="title">Personal</h3>
                  </div>
                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <div class="price">
                      <span class="dollar">$</span>10<span class="month">/Mo</span>
                    </div>
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-10 active">
                  <div class="icon-area">
                    <i class="flaticon-origami"></i>
                    <h3 class="title">Business</h3>
                  </div>
                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <div class="price">
                      <span class="dollar">$</span>10<span class="month">/Mo</span>
                    </div>
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-10">
                  <div class="icon-area">
                    <i class="flaticon-rocket"></i>
                    <h3 class="title">Enterprise</h3>
                  </div>
                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <div class="price">
                      <span class="dollar">$</span>10<span class="month">/Mo</span>
                    </div>
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="price-plan-wrapper">
            <h3 class="title ">Style 11</h3>
            <div class="row">
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-11">
                  <div class="price-header">
                    <h3 class="title">Personal</h3>
                    <span class="subtitle">Basic Solution</span>
                  </div>
                  <div class="price">
                    <span class="dollar">$</span>10<span class="month">/Mo</span>
                  </div>
                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-11 active">
                  <span class="popular">Popular</span>
                  <div class="price-header">
                    <h3 class="title">Business</h3>
                    <span class="subtitle">Advance Platform</span>
                  </div>
                  <div class="price">
                    <span class="dollar">$</span>10<span class="month">/Mo</span>
                  </div>
                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-11">
                  <div class="price-header">
                    <h3 class="title">Enterprise</h3>
                    <span class="subtitle">Customizable Platform</span>
                  </div>
                  <div class="price">
                    <span class="dollar">$</span>10<span class="month">/Mo</span>
                  </div>
                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="price-plan-wrapper">
            <h3 class="title ">Style 12</h3>
            <div class="row">
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-12">
                  <div class="price-header">
                    <h3 class="title">Personal</h3>
                    <span class="subtitle">Basic Solution</span>
                  </div>
                  <div class="icon-area">
                    <i class="flaticon-rocket"></i>
                  </div>
                  <div class="price">
                    <span class="dollar">$</span>10<span class="month">/Mo</span>
                  </div>
                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-12 active">
                  <div class="price-header">
                    <h3 class="title">Business</h3>
                    <span class="subtitle">Advance Platform</span>
                  </div>
                  <div class="icon-area">
                    <i class="flaticon-trip"></i>
                  </div>
                  <div class="price">
                    <span class="dollar">$</span>10<span class="month">/Mo</span>
                  </div>
                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-12">
                  <div class="price-header">
                    <h3 class="title">Enterprise</h3>
                    <span class="subtitle">Customizable Platform</span>
                  </div>
                  <div class="icon-area">
                    <i class="flaticon-origami"></i>
                  </div>
                  <div class="price">
                    <span class="dollar">$</span>10<span class="month">/Mo</span>
                  </div>
                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="price-plan-wrapper">
            <h3 class="title ">Style 13</h3>
            <div class="row">
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-13">
                  <div class="price-header">
                    <div class="icon"><i class="flaticon-rocket"></i></div>
                    <h3 class="title">Personal</h3>
                  </div>

                  <div class="price">
                    <span class="dollar">$</span>10
                  </div>
                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-13 active">
                  <div class="price-header">
                    <div class="icon"><i class="flaticon-trip"></i></div>
                    <h3 class="title">Business</h3>
                  </div>

                  <div class="price"><span class="dollar">$</span>10</div>
                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-13">
                  <div class="price-header">
                    <div class="icon"><i class="flaticon-origami"></i></div>
                    <h3 class="title">Enterprise</h3>
                  </div>
                  <div class="price"><span class="dollar">$</span>10</div>
                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="price-plan-wrapper">
            <h3 class="title ">Style 14</h3>
            <div class="row">
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-14">
                  <div class="price-header">
                    <h3 class="title">Personal</h3>
                    <div class="price">
                      <span class="dollar">$</span>10
                    </div>
                    <span class="permonth">Per month</span>
                  </div>


                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-14 active">
                  <div class="price-header">
                    <h3 class="title">Business</h3>
                    <div class="price"><span class="dollar">$</span>10</div>
                    <span class="permonth">Per month</span>
                  </div>
                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-14">
                  <div class="price-header">
                    <h3 class="title">Enterprise</h3>
                    <div class="price"><span class="dollar">$</span>10</div>
                    <span class="permonth">Per month</span>
                  </div>

                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="price-plan-wrapper">
            <h3 class="title ">Style 15</h3>
            <div class="row">
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-15">
                  <div class="price-header">
                    <div class="icon"><i class="flaticon-trip"></i></div>
                    <h3 class="title">Personal</h3>
                    <span class="subtitle">Small business solution</span>
                  </div>

                  <div class="price">
                    <span class="dollar">$</span>10<span class="month">/Mo</span>
                  </div>
                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-15 active">
                  <div class="price-header">
                    <div class="icon"><i class="flaticon-rocket"></i></div>
                    <h3 class="title">Business</h3>
                    <span class="subtitle">Medium business solution</span>
                  </div>
                  <div class="price"><span class="dollar">$</span>10<span class="month">/Mo</span></div>
                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-15">
                  <div class="price-header">
                    <div class="icon"><i class="flaticon-origami"></i></div>
                    <h3 class="title">Enterprise</h3>
                    <span class="subtitle">Gigantic business solution</span>
                  </div>
                  <div class="price"><span class="dollar">$</span>10<span class="month">/Mo</span></div>
                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="price-plan-wrapper">
            <h3 class="title">Style 16</h3>
            <div class="row">
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-16">
                  <div class="price-header">
                    <h3 class="title">Personal</h3>
                    <span class="subtitle">Small business solution</span>
                  </div>

                  <div class="price">
                    <span class="dollar">$</span>10<span class="month">/Mo</span>
                  </div>
                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-16 active">
                  <div class="price-header">
                    <h3 class="title">Business</h3>
                    <span class="subtitle">Medium business solution</span>
                  </div>
                  <div class="price"><span class="dollar">$</span>10<span class="month">/Mo</span></div>
                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4  col-md-6 ">
                <div class="pricing-table-16">
                  <div class="price-header">
                    <h3 class="title">Enterprise</h3>
                    <span class="subtitle">Gigantic business solution</span>
                  </div>
                  <div class="price"><span class="dollar">$</span>10<span class="month">/Mo</span></div>
                  <div class="price-body">
                    <ul>
                      <li><b>Free</b> Security Service</li>
                      <li><b>1x</b> Security Service</li>
                      <li><b>Unlimited</b> Security Service</li>
                      <li><b>1x</b> Dashboard Access</li>
                      <li><b>3x</b> Job Listings</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a class="order-btn" href="">Buy Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>