<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">
    <div class="card card-1">
      <h2>Basic</h2>
      <h3>$0<span>/mo.</span></h3>
      <p>Suitable for beginners </p>
      <ul>
        <li class="aval">2GB storage</li>
        <li class="aval">10 accounts </li>
        <li class="aval">50GB Bandwidth</li>
        <li class="unaval">24/7 support</li>
      </ul>
      <button class="select">Choose this plan</button>
    </div>
    <div class="card card-2 hot-badge">
      <h2>Standard</h2>
      <h3>$49<span>/mo.</span></h3>
      <p>Suitable for freelancers</p>
      <ul>
        <li class="aval">20GB storage</li>
        <li class="aval">20 accounts </li>
        <li class="aval">500GB Bandwidth</li>
        <li class="unaval">24/7 support</li>
      </ul>
      <button class="select">Choose this plan</button>
    </div>
    <div class="card card-3  hot-badge">
      <h2>Premium</h2>
      <h3>$99<span>/mo.</span></h3>
      <p>Suitable for businesses</p>
      <ul>
        <li class="aval">100GB storage</li>
        <li class="aval">100 accounts </li>
        <li class="aval">500GB Bandwidth</li>
        <li class="aval">24/7 support</li>
      </ul>
      <button class="select">Choose this plan</button>
    </div>
    <div class="card card-3  hot-badge">
      <h2>Premium</h2>
      <h3>$99<span>/mo.</span></h3>
      <p>Suitable for businesses</p>
      <ul>
        <li class="aval">100GB storage</li>
        <li class="aval">100 accounts </li>
        <li class="aval">500GB Bandwidth</li>
        <li class="aval">24/7 support</li>
      </ul>
      <button class="select">Choose this plan</button>
    </div>
  </div><a class="creator-link" href="https://www.kantorweb.com/" target="_blank">KantorWeb.com</a>

</body>

</html>