<div class="modal fade " id="demoModal" tabindex="-1" role="dialog" aria-labelledby="demoModal" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered " role="document">
    <div class="modal-content">
      <button type="button" class="close light" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="">
        <div class="bg-img m-h-30"
                        style="background-image: url('https://images.unsplash.com/photo-1507149833265-60c372daea22?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80')">

        </div>
        <div class="pull-up-lg">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-10 mx-auto pb-2">
                <div class="bg-light rounded shadow-sm px-3 py-3">
                  <h4 class="pt-sm-3  text-center">Saiba qual o melhor pacote para sua casa!</h4>

                  <div class="modal-body pb-0">
                    <%# My Modal %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
