<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-login">
    <div class="modal-content">
      <div class="modal-header">
        <div class="avatar">
          <%= image_tag 'icon-msg.png', alt: "couples" %>
        </div>

        <h4 class="modal-title">Member Login</h4>

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>

      <div class="modal-body">

      </div>
    </div>
  </div>
</div>
