.bg-planos {
  position: relative;
  background-image: linear-gradient(180deg, #fff 25%, #202020 50%),
    asset-url("geometric.jpg");
  background-repeat: no-repeat;
  background-position: top;
}

.bg-planos::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#2196fe, #e91e63);
  clip-path: circle(20% at -10% 20%);
}

.bg-planos::after {
  position: absoulute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#2196fe, #e91e63);
  clip-path: circle(20% at right 70%);
  z-index: -1;
}

.pricing-table-container {
  display: flex;
  align-items: center;
  padding: 0 0.9rem;
}

.pricing-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1600px;
  margin: auto;
}

.pricing-card {
  flex: 1;
  max-width: 24.6rem;
  background-color: #fff;
  margin: 1.25rem 0.625rem;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  color: #2d2d2d;
  border-radius: 0.25rem;
  transition: 0.3s linear;
  box-shadow: 0 0.313rem 0.75rem#0fbcf9;
  height: 20%;
}

.pricing-card-nos {
  box-shadow: 0 0.313rem 0.75rem #3600fa;
}

.pricing-card-nowo {
  box-shadow: 0 0.313rem 0.75rem #fb4d29;
}
.pricing-card-vodafone {
  box-shadow: 0 0.313rem 0.75rem #e73321;
}

.pricing-card-header,
.pricing-card-header-meo-20,
.pricing-card-header-nos-24,
.pricing-card-header-nos-20,
.pricing-card-header-nos-18,
.pricing-card-header-nos-13,
.pricing-card-header-nos-15,
.pricing-card-header-meo-51,
.pricing-card-header-meo-69,
.pricing-card-header-meo-18,
.pricing-card-header-meo-15,
.pricing-card-header-meo-13,
.pricing-card-header-nowo-18,
.pricing-card-header-nowo-15,
.pricing-card-header-nowo-12,
.pricing-card-header-vodafone-30,
.pricing-card-header-vodafone-31,
.pricing-card-header-vodafone-32,
.pricing-card-header-vodafone-17,
.pricing-card-header-meo-99 {
  background-color: #0fbcf9;
  display: inline-block;
  color: #fff;
  padding: 0.75rem 1.875rem;
  border-radius: 0 0 1.25rem 1.25rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.4s linear;
}

.pricing-card-header-meo-pacotes {
  font-size: 1.25rem;
}

.pricing-card-header-nos {
  background-color: #3600fa;
}

.pricing-card-header-nowo {
  background-color: #fb4d29;
}

.pricing-card-header-vodafone {
  background-color: #e73321;
}

.pricing-card:hover .pricing-card-header {
  box-shadow: 0 0 0 22em #0fbaf9;
}

.pricing-card:hover .pricing-card-header-meo-51 {
  box-shadow: 0 0 0 28em #0fbaf9;
}

.pricing-card:hover .pricing-card-header-meo-99 {
  box-shadow: 0 0 0 32em #0fbaf9;
}

.pricing-card:hover .pricing-card-header-meo-69 {
  box-shadow: 0 0 0 30em #0fbaf9;
}

.pricing-card:hover .pricing-card-header-meo-18 {
  box-shadow: 0 0 0 18em #0fbaf9;
}

.pricing-card:hover .pricing-card-header-meo-15 {
  box-shadow: 0 0 0 15em #0fbaf9;
}

.pricing-card:hover .pricing-card-header-meo-13 {
  box-shadow: 0 0 0 13em #0fbaf9;
}

.pricing-card:hover .pricing-card-header-nos {
  box-shadow: 0 0 0 22em #3600fa;
}

.pricing-card:hover .pricing-card-header-nos-24 {
  box-shadow: 0 0 0 24em #3600fa;
}

.pricing-card:hover .pricing-card-header-nos-20 {
  box-shadow: 0 0 0 20em #3600fa;
}

.pricing-card:hover .pricing-card-header-nos-18 {
  box-shadow: 0 0 0 18em #3600fa;
}

.pricing-card:hover .pricing-card-header-nos-13 {
  box-shadow: 0 0 0 13em #3600fa;
}

.pricing-card:hover .pricing-card-header-nos-15 {
  box-shadow: 0 0 0 15em #3600fa;
}

.pricing-card:hover .pricing-card-header-nowo {
  box-shadow: 0 0 0 22em #fb4d29;
}

.pricing-card:hover .pricing-card-header-nowo-18 {
  box-shadow: 0 0 0 18em #fb4d29;
}

.pricing-card:hover .pricing-card-header-nowo-15 {
  box-shadow: 0 0 0 15em #fb4d29;
}

.pricing-card:hover .pricing-card-header-nowo-12 {
  box-shadow: 0 0.8em 0 12em #fb4d29;
}

.pricing-card:hover .pricing-card-header-vodafone {
  box-shadow: 0 0 0 22em #e73321;
}

.pricing-card:hover .pricing-card-header-vodafone-30 {
  box-shadow: 0 0 0 30em #e73321;
}

.pricing-card:hover .pricing-card-header-vodafone-31 {
  box-shadow: 0 0 0 31em #e73321;
}

.pricing-card:hover .pricing-card-header-vodafone-32 {
  box-shadow: 0 0 0 32em #e73321;
}

.pricing-card:hover .pricing-card-header-vodafone-17 {
  box-shadow: 0 0 0 17em #e73321;
}

.price {
  font-size: 4.375rem;
  color: #0fbcf9;
  margin-bottom: 1rem;
  transition: 0.2s linear;
}

.price-nowo {
  color: #fb4d29;
}

.price-nos {
  color: #3600fa;
}

.price-vodafone {
  color: #e73321;
}

.price sup,
.price span {
  font-size: 1.375rem;
  font-weight: 700;
}

.pricing-card:hover,
.pricing-card:hover .price {
  color: #fff;
}

.planos-title {
  display: flex;
  justify-content: center;
}

.heading-secondary {
  display: flex;
  justify-content: center;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(
    90deg,
    rgb(179, 0, 21) 20%,
    rgb(58, 58, 58) 50%,
    rgb(0, 0, 0) 80%
  );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
}

.pricing-card ul {
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
}

.pricing-card li {
  font-size: 0.75rem;
  padding: 0.625rem 0;
  list-style: none;
}

.pricing-card a {
  text-decoration: none;
}

.order-btn {
  display: inline-block;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
  border: 0.125rem solid #0fbcf9;
  color: #0fbcf9;
  padding: 1.125rem 2.5rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.3s linear;
}

.order-btn-nos {
  border: 0.125rem solid #3600fa;
  color: #3600fa;
}
.order-btn-nowo {
  border: 0.125rem solid #fb4d29;
  color: #fb4d29;
}
.order-btn-vodafone {
  border: 0.125rem solid #e73321;
  color: #e73321;
}

.order-btn:hover {
  background-color: #0fbcf9;
  color: #fff;
}
.order-btn-nos:hover {
  background-color: #3600fa;
  color: #fff;
}
.order-btn-nowo:hover {
  background-color: #fb4d29;
  color: #fff;
}
.order-btn-vodafone:hover {
  background-color: #e73321;
  color: #fff;
}

@media screen and (max-width: 1100px) {
  .pricing-card {
    flex: 50%;
  }
}

@media screen and (min-width: 1101px) {
  .pricing-card {
    flex: 80%;
  }
}

.bg-curve-plano {
  background: #202020;
}
