.bg-planos {
  background: rgb(1, 51, 53);
  // height: 100vh;
}

.pricing-table-container {
  display: flex;
  align-items: center;
}

.pricing-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1600px;
  margin: auto;
}

.pricing-card {
  flex: 1;
  max-width: 22.5rem;
  background-color: #fff;
  margin: 1.25rem 0.625rem;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  color: #2d2d2d;
  border-radius: 1.25rem;
  transition: 0.3s linear;
  box-shadow: 0 5px 12px#0fbcf9;
}

.pricing-card-nos {
  box-shadow: 0 5px 12px #fbd454;
}

.pricing-card-nowo {
  box-shadow: 0 5px 12px #fb4d29;
}
.pricing-card-vodafone {
  box-shadow: 0 5px 12px #e73321;
}

.pricing-card-header {
  background-color: #0fbcf9;
  display: inline-block;
  color: #fff;
  padding: 0.75rem 1.875rem;
  border-radius: 0 0 1.25rem 1.25rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.4s linear;
}

.pricing-card-header-nos {
  background-color: #fbd454;
}

.pricing-card-header-nowo {
  background-color: #fb4d29;
}

.pricing-card-header-vodafone {
  background-color: #e73321;
}

.pricing-card:hover .pricing-card-header {
  box-shadow: 0 0 0 23.5em #0fbcf9;
}
.pricing-card:hover .pricing-card-header-nos {
  box-shadow: 0 0 0 23.5em #fbd454;
}
.pricing-card:hover .pricing-card-header-nowo {
  box-shadow: 0 0 0 23.5em #fb4d29;
}
.pricing-card:hover .pricing-card-header-vodafone {
  box-shadow: 0 0 0 23.5em #e73321;
}

.price {
  font-size: 4.375rem;
  color: #0fbcf9;
  margin-bottom: 1rem;
  transition: 0.2s linear;
}

.price-nowo {
  color: #fb4d29;
}

.price-nos {
  color: #fbd454;
}

.price-vodafone {
  color: #e73321;
}

.price sup,
.price span {
  font-size: 1.375rem;
  font-weight: 700;
}

.pricing-card:hover,
.pricing-card:hover .price {
  color: #fff;
}

.pricing-card ul {
  text-align: justify;
  padding-left: 14%;
  padding-right: 14%;
}

.pricing-card li {
  font-size: 0.75rem;
  padding: 0.625rem 0;
  list-style: none;
}

.pricing-card a {
  text-decoration: none;
}

.order-btn {
  display: inline-block;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
  border: 0.125rem solid #0fbcf9;
  color: #0fbcf9;
  padding: 18px 2.5rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.3s linear;
}

.order-btn-nos {
  border: 0.125rem solid #fbd454;
  color: #fbd454;
}
.order-btn-nowo {
  border: 0.125rem solid #fb4d29;
  color: #fb4d29;
}
.order-btn-vodafone {
  border: 0.125rem solid #e73321;
  color: #e73321;
}

.order-btn:hover {
  background-color: #0fbcf9;
  color: #fff;
}
.order-btn-nos:hover {
  background-color: #fbd454;
  color: #fff;
}
.order-btn-nowo:hover {
  background-color: #fb4d29;
  color: #fff;
}
.order-btn-vodafone:hover {
  background-color: #e73321;
  color: #fff;
}

@media screen and (max-width: 1100px) {
  .pricing-card {
    flex: 50%;
  }
}
