<div class="pricing-table-container">
  <div class="pricing-table py-3">
    <div class="pricing-card pricing-card-nowo" data-aos="fade-down" data-aos-duration="2000">
      <h3 class="pricing-card-header pricing-card-header-nowo">
        <i class="mr-2 fas fa-wifi"></i>
        <i class="mr-2 fas fa-tv"></i>
        <i class="mr-2 fas fa-phone-volume"></i>
        <i class="fas fa-sim-card"></i>
      </h3>
      <div class="price price-nowo"><sup>€</sup>16,25<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 90 Canais</strong><br>
          BOX NOWO TV HD<br>
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 120 Megas</strong><br>
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ - Chamadas inclu&iacute;das</strong><br>
        </li>

        <li>
          <i class="fas fa-sim-card"></i>
          <strong>M&oacute;vel - 1GB</strong><br>
          1000 min/sms
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(package_id: @nowo_packages.first.packages.first.id), remote: true, class: "text-uppercase order-btn order-btn order-btn-nowo", role: "button" %>
    </div>

    <div class="pricing-card pricing-card-nowo" data-aos="fade-up" data-aos-duration="2000">
      <h3 class="pricing-card-header pricing-card-header-nowo">
        <i class="mr-2 fas fa-wifi"></i>
        <i class="mr-2 fas fa-tv"></i>
        <i class="mr-2 fas fa-phone-volume"></i>
        <i class="fas fa-sim-card"></i>
      </h3>
      <div class="price price-nowo"><sup>€</sup>18,75<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 140 Canais</strong><br>
          BOX NOWO TV HD<br>
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 120 Megas</strong><br>
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ - Chamadas inclu&iacute;das</strong><br>
        </li>

        <li>
          <i class="fas fa-sim-card"></i>
          <strong>M&oacute;vel - 2GB</strong><br>
          2000 min/sms
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(package_id: @nowo_packages.first.packages.second.id), remote: true, class: "text-uppercase order-btn order-btn order-btn-nowo", role: "button" %>
    </div>

    <div class="pricing-card pricing-card-nowo" data-aos="fade-down" data-aos-duration="2000">
      <h3 class="pricing-card-header pricing-card-header-nowo">
        <i class="mr-2 fas fa-wifi"></i>
        <i class="mr-2 fas fa-tv"></i>
        <i class="mr-2 fas fa-phone-volume"></i>
        <i class="fas fa-sim-card"></i>
      </h3>
      <div class="price price-nowo"><sup>€</sup>20,00<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 90 Canais</strong><br>
          BOX NOWO TV HD<br>
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 250 Megas</strong><br>
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ - Chamadas inclu&iacute;das</strong><br>
        </li>

        <li>
          <i class="fas fa-sim-card"></i>
          <strong>M&oacute;vel - 4GB</strong><br>
          4000 min/sms
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(package_id: @nowo_packages.first.packages.third.id), remote: true, class: "text-uppercase order-btn order-btn order-btn-nowo", role: "button" %>
    </div>

    <div class="pricing-card pricing-card-nowo" data-aos="fade-down" data-aos-duration="2000">
      <h3 class="pricing-card-header pricing-card-header-nowo">
        <i class="mr-2 fas fa-wifi"></i>
        <i class="mr-2 fas fa-tv"></i>
        <i class="mr-2 fas fa-phone-volume"></i>
        <i class="fas fa-sim-card"></i>
      </h3>
      <div class="price price-nowo"><sup>€</sup>21,25<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 140 Canais</strong><br>
          BOX NOWO TV HD<br>
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 250 Megas</strong><br>
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ - Chamadas inclu&iacute;das</strong><br>
        </li>

        <li>
          <i class="fas fa-sim-card"></i>
          <strong>M&oacute;vel - 4GB</strong><br>
          4000 min/sms
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(package_id: @nowo_packages.first.packages.fourth.id), remote: true, class: "text-uppercase order-btn order-btn order-btn-nowo", role: "button" %>
    </div>
  </div>
</div>
