.social {
  position: fixed;
  left: 0;
  top: 12.5rem;
  z-index: 2000;

  ul {
    list-style: none;

    li {
      a,
      .static {
        display: inline-block;
        width: 2.5rem;
        color: #fff;
        background: #000;
        padding: 0.625rem 1.2rem;
        text-decoration: none;
        -webkit-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;

        &:hover {
          padding-left: 3rem;
          opacity: 0.5;
          border-radius: 0 1rem 1rem 0;
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.466);
        }
      }

      .facebook {
        background: #3b5998;
      }

      .instagram {
        background: linear-gradient(
          90deg,
          rgba(165, 70, 152, 1) 0%,
          rgba(213, 87, 101, 1) 35%,
          rgba(248, 189, 85, 1) 100%
        );
      }

      .gmail {
        background: #eb2e03;
      }

      .linkedin {
        background: #0b65c0;
      }
    }
  }
}

//Removing ads

#portal-bd685790-674c-47f3-9872-20971395243d
  > div
  > div.Window__WindowComponent-sc-17wvysh-1.llcnCH
  > div:nth-child(5) {
  display: none !important;
}

#portal-bd685790-674c-47f3-9872-20971395243d
  > div
  > div.Window__WindowComponent-sc-17wvysh-1.djUbPg
  > div:nth-child(5)
  > a {
  display: none !important;
}

.call {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 10rem;
  min-height: 50px;
  background: #fff;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 3px 3px 3px 1px #333;
  list-style: none;
  z-index: 99;
}
@media only screen and (max-width: 610px) {
  .call {
    width: 3.125rem;
  }
}

.call-menu {
  line-height: 50px;
  text-align: center;
  background: #00a5ba;
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
}
.call-menu:hover {
  color: white;
  background: #00796b;
}

.call-items {
  width: 50px;
  line-height: 50px;
  text-align: center;
  display: none;
  color: #333;
  border-radius: 25px;
  transition: background 0.5s, color 0.5s;
}
.call-items:hover {
  background: #009688;
  color: #f5f5f5;
}

.shown {
  display: inline-block;
}
