.btn:link, .btn:visited {
  border-radius: 10rem;
  display: inline-block;
  padding: 1.5rem 4rem;
  text-decoration: none;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  font-size: 1.2rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.75); }
  .btn:hover::after {
    opacity: 0;
    transform: scaleX(1.4) scaleY(1.6); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.75); }

.btn::after {
  content: "";
  border-radius: 5rem;
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.4s;
  width: 100%;
  z-index: -1; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--animated {
  animation: moveInBotton 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }
