<div class="pricing-table-container">
  <div class="pricing-table py-3">
    <div class="pricing-card pricing-card-nos" data-aos="fade-up" data-aos-duration="2000">
      <h3 class="pricing-card-header-nos-13 pricing-card-header pricing-card-header-nos">NOS - NET</h3>
      <div class="price price-nos"><sup>€</sup>24,99<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 30 Mbps</strong><br>
          Inclui Router Wi-Fi
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(package_id: @nos_packages.third.packages.first.id), remote: true, class: "text-uppercase order-btn order-btn order-btn-nos", role: "button" %>
    </div>

    <div class="pricing-card pricing-card-nos" data-aos="fade-down" data-aos-duration="2000">
      <h3 class="pricing-card-header-nos-13 pricing-card-header pricing-card-header-nos">NOS - NET</h3>
      <div class="price price-nos"><sup>€</sup>26,99<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 100 Mbps</strong><br>
          Inclui Router Wi-Fi
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(package_id: @nos_packages.third.packages.second.id), remote: true, class: "text-uppercase order-btn order-btn-nos", role: "button" %>
    </div>

    <div class="pricing-card pricing-card-nos" data-aos="fade-up" data-aos-duration="2000">
      <h3 class="pricing-card-header-nos-13 pricing-card-header pricing-card-header-nos">NOS - NET</h3>
      <div class="price price-nos"><sup>€</sup>38,99<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 1 Gbps</strong><br>
          Inclui Giga Router
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(package_id: @nos_packages.third.packages.third.id), remote: true, class: "text-uppercase order-btn order-btn-nos", role: "button" %>
    </div>
  </div>
</div>
