<div class="pricing-table-container">
  <div class="pricing-table pt-5">
    <div class="pricing-card pricing-card-nos" data-aos="fade-up" data-aos-duration="2000">
      <h3 class="pricing-card-header-nos-15 pricing-card-header pricing-card-header-nos">NOS 2</h3>
      <div class="price price-nos"><sup>€</sup>27,99<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 120 Canais</strong><br>
          Sem box
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 30 Mbps</strong><br>
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(operator: "NOS"), remote: true, class: "text-uppercase order-btn order-btn order-btn-nos", role: "button" %>
    </div>

    <div class="pricing-card pricing-card-nos" data-aos="fade-down" data-aos-duration="2000">
      <h3 class="pricing-card-header-nos-15 pricing-card-header pricing-card-header-nos">NOS 2</h3>
      <div class="price price-nos"><sup>€</sup>30,49<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 150 Canais</strong><br>
          Box UMA TV 4K<br>
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 30 Mbps</strong><br>
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(operator: "NOS"), remote: true, class: "text-uppercase order-btn order-btn-nos", role: "button" %>
    </div>

    <div class="pricing-card pricing-card-nos" data-aos="fade-up" data-aos-duration="2000">
      <h3 class="pricing-card-header-nos-15 pricing-card-header pricing-card-header-nos">NOS 2</h3>
      <div class="price price-nos"><sup>€</sup>13,49<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 6 Canais</strong><br>
          Sem box<br>
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ - Chamadas inclu&iacute;das</strong><br>
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(operator: "NOS"), remote: true, class: "text-uppercase order-btn order-btn-nos", role: "button" %>
    </div>

    <div class="pricing-card pricing-card-nos" data-aos="fade-down" data-aos-duration="2000">
      <h3 class="pricing-card-header-nos-13 pricing-card-header pricing-card-header-nos">MIX</h3>
      <div class="price price-nos"><sup>€</sup>24,99<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 120 Canais</strong><br>
          Sem box<br>
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(operator: "NOS"), remote: true, class: "text-uppercase order-btn order-btn-nos", role: "button" %>
    </div>
  </div>
</div>
