<div class="circle circle-nowo"></div>

<div class="content">
  <div class="textBox">
    <div class="texBox--phrase">
      <h2 class= "texBox--title mb-4" id="textBoxSlogan" data-aos="fade-right" data-aos-duration="3000">As melhores ofertas de<br>
        <span id="letterSlogan" class="letter letter--nowo ml-md-3">NOWO</span>
      </h2>
    </div>

    <p data-aos="fade-down" data-aos-duration="3000" class="text-justify text">
      Com apenas <strong>21,25 €/mês</strong> aproveite a promoção de: 

      <ul class="ul-promo" data-aos="flip-up" data-aos-duration="2000">
        <li>
          <i class="fas fa-wifi"></i>
          <strong>250 Megas</strong> de Internet.
        </li>
        
        <li>
          <i class="fas fa-tv"></i>
          140 canais <strong>FULL HD</strong>.
        </li>
        
        <li>          
          <i class="fas fa-mobile-alt"></i>
          1º cartão de <strong>4 GB</strong> em telemovel.
        </li>
        
        <li>
          <i class="fas fa-phone-volume"></i>
          Chamadas inclu&iacute;das
        </li>
      </ul>
    </p>

    <div class="button_promo mt-2">
      <%= link_to "adira já!", new_contact_path(package_id: @type.fourth.packages.fourth.id), remote: true, class: "mb-0 text-decoration-none text-uppercase order-btn order-btn-nowo", role: "button" %>
    </div>
  </div>

  <div class="imgBox" data-aos="fade-down" data-aos-duration="3000">
    <%= image_tag 'supermanq', alt:"nowo_image", class:"starbucks" %>
  </div>
</div>
