<div class="circle circle-meo"></div>

<div class="content">
  <div class="textBox">
    <div class="texBox--phrase">
      <h2 class= "texBox--title mb-2" id="textBoxSlogan" data-aos="fade-right" data-aos-duration="3000">As melhores ofertas de <br>
        <span id="letterSlogan" class="letter letter--meo ml-md-3">MEO</span>
      </h2>
    </div>

    <p data-aos="fade-down" data-aos-duration="3000" class="text-justify text">
      Com apenas <strong>51,99 €/mês</strong> dê para sua casa um pacote de <strong>150 canais</strong>. Mais 1º cartão de <strong>500 MB</strong> em telemovel. <strong>100/100 Mbps</strong> de Internet. <strong>1 cartão</strong> e Chamadas inclu&iacute;das para <strong>&#xab;50 destinos internacionais &#xbb;</strong>
    </p>

    <div class="button_promo" data-aos="fade-up" data-aos-duration="3000">
      <%= link_to "adira já!", new_contact_path(package_id: @type.first.packages.first.id), remote: true, class: "text-decoration-none text-uppercase order-btn order-btn", role: "button" %>
    </div>
  </div>

  <div class="imgBox" data-aos="fade-down" data-aos-duration="3000">
    <%= image_tag 'kunfu', alt:"meo_image", class:"starbucks" %>
  </div>
</div>
