<div class="circle circle-vodafone"></div>

<div class="content align-items-center align-items-lg-start">
  <div class="textBox">
    <div class="texBox--phrase">
      <h2 class= "texBox--title mb-4" id="textBoxSlogan" data-aos="fade-right" data-aos-duration="3000">Receba um Tv LED HD 32''<br>
        <span id="letterSlogan" class="letter letter--vodafone ml-md-3">Vodafone</span>
      </h2>
    </div>

    <p data-aos="fade-down" data-aos-duration="3000" class="text-justify text">
      Com apenas <strong>51,9 €/mês</strong> aproveite a programação de: 

      <ul>
        <li>
          <i class="fas fa-wifi"></i>
          <strong>100/100 Mbps</strong> de Internet.
        </li>
        
        <li>
          <i class="fas fa-tv"></i>
          140 canais incluindo <strong>Amazon Prime e HBO Portugal</strong>.
        </li>
        
        <li>          
          <i class="fas fa-mobile-alt"></i>
          1º cartão de <strong>500 MB</strong> em telemovel.
        </li>
        
        <li>
          <i class="fas fa-phone-volume"></i>
          Chamadas inclu&iacute;das
        </li>
        
        <li>
          E um Tv LED HD 32'' <strong>&#xab;totalmente gratuito&#xbb;</strong>
        </li>
      </ul>
    </p>

    <div class="button_promo" data-aos="fade-up" data-aos-duration="3000">
      <%= link_to "adira já!", new_contact_path(package_id: @type.third.packages.fourth.id), remote: true, class: "mb-0 text-decoration-none text-uppercase order-btn order-btn-vodafone", role: "button" %>
    </div>
  </div>

  <div class="imgBox" data-aos="fade-down" data-aos-duration="3000">
    <%= image_tag 'tv-vodafone', alt:"vodafone_image", class:"starbucks" %>
  </div>
</div>
