<div class="circle"></div>

<div class="content">
  <div class="textBox">
    <div class="texBox--phrase">
      <h2 class= "texBox--title mb-2" id="textBoxSlogan" data-aos="fade-right" data-aos-duration="3000">Conheça as melhores ofertas de<span id="letterSlogan" class="letter letter--vodafone ml-md-3">Vodafone</span></h2>
    </div>

    <p data-aos="fade-down" data-aos-duration="3000" class="text-justify text">
      Com apenas <strong>49,99 €/mês</strong> aproveite a programação de 140 Canais: <strong>VBox</strong>, <strong>Amazon Prime Video</strong> e <strong>HBO Portugal</strong> inclu&iacute;do<strong>&#10003;</strong>. Mais 500 MB em telemovel<strong>&#10003;</strong> 100/100 Mbps de Internet<strong>&#10003;</strong><strong>&#xab;Chamadas incluídas&#xbb;</strong>
    </p>

    <div class="button_promo" data-aos="fade-up" data-aos-duration="3000">
      <%= link_to "adira já!", new_contact_path(package_id: "@meo_packages.third.packages.first.id"), remote: true, class: "text-decoration-none text-uppercase order-btn order-btn-vodafone", role: "button" %>
    </div>
  </div>

  <div class="imgBox" data-aos="fade-down" data-aos-duration="3000">
    <%= image_tag 'vodafone-woman', alt:"vodafone_image", class:"starbucks" %>
  </div>
</div>
