<div class="circle circle-nos"></div>

<div class="content">
  <div class="textBox">
    <div class="texBox--phrase">
      <h2 class= "texBox--title mb-4" id="textBoxSlogan" data-aos="fade-right" data-aos-duration="3000">As melhores ofertas de<br>
        <span id="letterSlogan" class="letter letter--nos ml-md-3">NOS</span>
      </h2>
    </div>

    <p data-aos="fade-down" data-aos-duration="3000" class="text-justify text">
      Com apenas <strong>51,99 €/mês</strong> aproveite a programação de <strong>150 Canais</strong> incluindo. <strong>Box Apple TV 4K</strong>. Mais 1º cartão de <strong>500Mb</strong> em telemovel. <strong>100 Mbps</strong> de Internet e Chamadas para <strong>&#xab;31 destinos internacionais&#xbb;</strong>
    </p>

    <div class="button_promo" data-aos="fade-up" data-aos-duration="2000">
      <%= link_to "adira já!", new_contact_path(package_id: current_visit.auxiliar_package), remote: true, class: "mb-2 text-decoration-none text-uppercase order-btn order-btn-nos", role: "button" %>
    </div>
  </div>

  <div class="imgBox imgBox-nos" data-aos="fade-down" data-aos-duration="3000">
    <%= image_tag 'appletv', data: { src: "appletv"}, alt:"nos_image", class:"starbucks img-nos" %>
  </div>
</div>