<div class="circle circle-vodafone"></div>

<div class="content">
  <div class="textBox">
    <div class="texBox--phrase">
      <h2 class= "texBox--title mb-4" id="textBoxSlogan" data-aos="fade-right" data-aos-duration="3000">As melhores ofertas de<br>
        <span id="letterSlogan" class="letter letter--vodafone ml-md-3">Vodafone</span>
      </h2>
    </div>

    <p data-aos="fade-down" data-aos-duration="3000" class="text-justify text">
      Com apenas <strong>51,9 €/mês</strong> aproveite a programação de 140 Canais: <strong>Amazon Prime Video</strong> e <strong>HBO Portugal</strong> durante 6 meses inclu&iacute;do. Mais <strong>500 MB</strong> em telemovel. <strong>100/100 Mbps</strong> de Internet e <strong>&#xab;Chamadas incluídas&#xbb;</strong>
    </p>

    <div class="button_promo" data-aos="fade-up" data-aos-duration="3000">
      <%= link_to "adira já!", new_contact_path(package_id: @type.third.packages.fourth.id), remote: true, class: "mb-0 text-decoration-none text-uppercase order-btn order-btn-vodafone", role: "button" %>
    </div>
  </div>

  <div class="imgBox" data-aos="fade-down" data-aos-duration="3000">
    <%= image_tag 'vodafone-woman', alt:"vodafone_image", class:"starbucks" %>
  </div>
</div>
