<div class="circle circle-nowo"></div>

<div class="content">
  <div class="textBox">
    <div class="texBox--phrase">
      <h2 class= "texBox--title mb-4" id="textBoxSlogan" data-aos="fade-right" data-aos-duration="3000">As melhores ofertas de<br>
        <span id="letterSlogan" class="letter letter--nowo ml-md-3">NOWO</span>
      </h2>
    </div>

    <p data-aos="fade-down" data-aos-duration="3000" class="text-justify text">
      Com apenas <strong>21,25 €/mês</strong> aproveite a programação de <strong>140 Canais</strong> + <strong>FULL TV HD</strong>. Mais <strong>4GB</strong> em telemovel. <strong>250 Megas</strong> de Internet e <strong>&#xab;Chamadas incluídas&#xbb;</strong>
    </p>

    <div class="button_promo" data-aos="fade-up" data-aos-duration="2000">
      <%= link_to "adira já!", new_contact_path(package_id: @type.fourth.packages.fourth.id), remote: true, class: "text-decoration-none text-uppercase order-btn order-btn-nowo", role: "button" %>
    </div>
  </div>

  <div class="imgBox" data-aos="fade-down" data-aos-duration="3000">
    <%= image_tag 'supermanq', alt:"nowo_image", class:"starbucks" %>
  </div>
</div>
