<div id="promoWrapper" promo-id="19909" class="alert alert-promo blue-bkd" role="alert">
  <div class="container">
    <div class="promo-banner-content" style="text-align: center;">
      <div class="promo-banner-msg heading-primary--sub"> <span class="yellow d-none d-lg-inline">¡Nunca foi tão f&aacute;cil mudar! <i class="far fa-hand-point-right"></i></span>
        Oferta de <span class="yellow">40€ acumulável</span> com as ofertas por Internet <i class="fas fa-wifi"></i><br class="visible-sm visible-xs">
      </div>
    </div>
  </div>
</div>
