<div id="promoWrapper" promo-id="19909" class="alert alert-promo blue-bkd" role="alert">
  <div class="container">
    <div class="promo-banner-content mt-md-2" style="text-align: center;">
      <div class="promo-banner-msg heading-primary--sub"> <span class="yellow d-none d-md-inline"><i class="far fa-hand-point-right"></i></span>
        Oferta de <span class="yellow">40€ acumulável</span> com as ofertas por <span class="yellow">Internet <i class="fas fa-wifi"></i></span>
        <a class="d-none d-lg-inline btn btn-promo btn-banner ml-lg-2" href="/promociones/">Conheça nossas ofertas <i class="fas fa-bullhorn"></i></a>
        <br>
        <a class="d-inline-block d-lg-none btn-promo-small px-2 ml-2" href="/promociones/">Conheça nossas ofertas <i class="fas fa-bullhorn"></i></a>
      </div>
    </div>
  </div>
</div>
